<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Call API các tỉnh</title>
    <script src="/lib/angular.js"></script>
</head>
<body ng-controller="myCtrl">
    <div class="container">
        <h1>Chọn danh sách tỉnh</h1>
        <form action="">
            <select name="" id="province" ng-model="selectedProvince"
                ng-options="province.name for province in provinces" ng-change="getDistricts()">
                <option value="">chọn tỉnh</option>
            </select>
            <select name="" id="district" ng-model="selectedDistrict"
                ng-options="district.name for district in districts" ng-change="getWards()">
                <option value="">chọn quận</option>
            </select>
            <select name="" id="ward" ng-model="selectedWard" ng-options="ward.name for ward in wards">
                <option value="">chọn phường</option>
            </select>
        </form>

        <h2 id="result">{{ selectedProvince.name }} | {{ selectedDistrict.name }} | {{ selectedWard.name }}</h2>
    </div>

</body>
</html>
</html>