<style>
  h5 {
    font-weight: bold;
    font-size: 15px;
  }

  td {
    font-weight: bold;
  }

  th {
    font-weight: bold;
  }

  .scroll-container {
    width: 1151px;
    /* Kích thước chiều rộng của vùng hiển thị */
    overflow-x: auto;
    /* Tạo thanh cuộn ngang khi nội dung vượt quá kích thước */
    white-space: nowrap;
    /* Ngăn chặn việc xuống dòng */
    margin-bottom: 20px;
  }
</style>
<div class="card overflow-hidden" style="width: 1152px">
  <div class="box">
    <div class="scroll-container">
      <div class="content">
        <div style="display: flex; align-items: center">
          <div style="margin-right: 125px" ng-repeat="item in lichSuThayDoi" ng-show="item.trangThai === 1">
            <img src="/assets/images/choxacnhan.png" width="280px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 75px">
              Chờ xác nhận
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 55px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 8">
            <img src="/assets/images/chinhsuadon.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 50px">
              Chỉnh sửa đơn
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 40px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 2">
            <img src="/assets/images/xacnhan.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 75px">
              Xác nhận
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 35px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 3">
            <img src="/assets/images/chogiao.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 50px">
              Chờ giao hàng
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 35px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 4">
            <img src="/assets/images/danggiaohang.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 70px">
              Giao hàng
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 35px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 5">
            <img src="/assets/images/thanhcong.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 60px">
              Hoàn thành
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 30px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 6">
            <img src="/assets/images/dahuy.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 80px">
              Đã hủy
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 35px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
          <div style="margin-right: 125px; margin-left: -120px" ng-repeat="item in lichSuThayDoi"
            ng-show="item.trangThai === 7">
            <img src="/assets/images/trahang.png" width="280px" style="margin-left: -25px" alt="" />
            <h6 style="font-size: 20px; font-weight: 600; padding-left: 75px">
              Trả hàng
            </h6>
            <h6 style="font-size: 15px; font-weight: 600; margin-left: 35px">
              {{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px; margin-left: 10px">
    <div class="col-lg-6">
      <button ng-show="hoaDonChiTiet.trangThai != 5 && hoaDonChiTiet.trangThai != 6" type="submit"
        class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#huydon"
        style="text-decoration: none; height: 39px">
        <span style="vertical-align: middle">Hủy</span>
      </button>
      <button ng-hide="hoaDonChiTiet.trangThai == 4 && fillMoney.tongTien > soTienKhachTra"
        ng-show="hoaDonChiTiet.trangThai != 5 && (hoaDonChiTiet.tenNguoiShip != null || hoaDonChiTiet.tenLoaiDon != 'ONLINE')"
        type="submit" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="text-decoration: none; height: 39px">
        <span style="vertical-align: middle">Xác nhận</span>
      </button>
      <button ng-show="hoaDonChiTiet.trangThai !== 1 && hoaDonChiTiet.trangThai !== 6" type="submit"
        class="btn btn-danger m-1" style="text-decoration: none; height: 39px" ng-click="generatePDF()">
        <span style="vertical-align: middle">In hóa đơn</span>
      </button>
    </div>
    <div class="col-lg-6" style="padding-left: 445px">
      <button type="submit" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#lichsutrangthai"
        style="text-decoration: none; height: 39px">
        <span style="vertical-align: middle">lịch sử</span>
      </button>
    </div>
  </div>
</div>
<!-- modal Lịch sử trạng thái HD -->
<div class="modal fade" id="lichsutrangthai" tabindex="-1" aria-labelledby="lichsutrangthai" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content custom-modal-content" style="width: 110%; margin-left: -15px">
      <div class="modal-header" style="height: 20px; margin-left: 350px"></div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr style="border: 1px solid #ccc; background-color: lightskyblue">
              <th>Trạng thái</th>
              <th>Thời gian</th>
              <th>Người xác nhận</th>
              <th>Ghi chú</th>
            </tr>
          </thead>
          <tbody class="table">
            <tr ng-repeat="item in lichSuThayDoi">
              <td>
                {{item.trangThai == 1 ? "Chờ xác nhận" : item.trangThai == 2 ?
                "Xác nhận" : item.trangThai == 3 ? "Chờ giao hàng" :
                item.trangThai == 4 ? "Giao hàng" : item.trangThai == 5 ? "Hoàn
                thành" : item.trangThai == 6 ? "Đã hủy" : item.trangThai == 7 ?
                'Trả hàng' : 'Chỉnh sửa đơn'}}
              </td>
              <td>{{item.thoiGian | date:'MM/dd/yyyy h:mm:ss a'}}</td>
              <td>{{item.tenNhanVien}}</td>
              <td>{{item.ghiChu}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal Lịch sử trang thai HD -->
<!-- modal update giao hd -->
<div class="modal fade" id="updateGiao" tabindex="-1" aria-labelledby="updateGiao" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content custom-modal-content" style="width: 110%; margin-left: -15px">
      <div class="modal-header" style="height: 20px; margin-left: 350px"></div>
      <div class="modal-body">
        <span class="header-title"><span style="color: red">*</span><span>Tên khách</span></span>
        <input type="text" class="form-control" placeholder="Tên người nhận" ng-model="newOrderClient.hoVatenClient"
          ng-value="orderDetailUpdate.nameCustomer" />
        <br>
        <span class="header-title"><span style="color: red">*</span><span>Số khách</span></span>
        <input type="text" class="form-control" placeholder="Số điện thoại" ng-model="newOrderClient.sdtClient"
          ng-value="orderDetailUpdate.numberPhoneCustom" />
        <br>
        <span class="header-title"><span style="color: red">*</span><span>Email</span></span>
        <input type="text" class="form-control" placeholder="Email" ng-model="newOrderClient.email"
          ng-value="orderDetailUpdate.email" />
        <br>
        <span class="header-title"><span style="color: red">*</span><span>Tên người ship</span></span>
        <input type="text" class="form-control" placeholder="Tên người ship" ng-model="newOrderClient.hoVaTenNguoiShip"
          ng-value="orderDetailUpdate.tenNguoiGiao" />
        <br>
        <span class="header-title"><span style="color: red">*</span><span>Số người ship</span></span>
        <input type="text" class="form-control" placeholder="Số điện thoại" ng-model="newOrderClient.soDienThoaiShip"
          ng-value="orderDetailUpdate.sdtNguoiGiao" />
        <br>
        <span class="header-title"><span style="color: red">*</span><span>Tiền ship</span></span>
        <input type="text" class="form-control" placeholder="Tiền ship" ng-model="newOrderClient.tienShip"
          ng-value="orderDetailUpdate.tienShip" />
        <br>
        <span class="header-title"><span style="color: red">*</span> <span>Địa chỉ</span></span>
        <input type="text" class="next-input" placeholder="Địa chỉ" ng-model="newOrderClient.diaChi"
          ng-value="orderDetailUpdate.diaChi" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="confirmOrderClient()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal update giao HD -->
<!-- modal cập nhật trạng thái HD -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <div class="modal-body-item">
          <span class="header-title"><span style="color: red">*</span> <span>Nhập ghi chú</span></span>
          <input type="text" class="form-control" placeholder="Ghi chú" ng-model="newStatusOrder.ghiChu" />
          <br />
          <div>
            <h6 class="text">Trạng thái:</h6>
            <select class="form-control select2" id="simple-select2" ng-model="newStatusOrder.newTrangThai">
              <option value="2" ng-if="hoaDonChiTiet.trangThai == 1">
                Xác nhận
              </option>
              <option value="3" ng-show="hoaDonChiTiet.trangThai == 2">
                Chờ giao
              </option>
              <option value="4" ng-show="hoaDonChiTiet.trangThai == 3">
                Đang Giao
              </option>
              <option value="5" ng-show="hoaDonChiTiet.trangThai == 4">
                Hoàn thành
              </option>
            </select>
          </div>
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger m-1"
          ng-click="comfirmStatusOrder()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal Lịch sử -->
<!-- modal hủy hóa đơn -->
<div class="modal fade" id="huydon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <div class="modal-body-item">
          <span class="header-title"><span style="color: red">*</span>
            <span>Nhập ghi chú hủy đơn</span></span>
          <input type="text" class="form-control" placeholder="Ghi chú" ng-model="newStatusHuyDon.ghiChu" />
          <br />
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger m-1"
          ng-click="comfirmStatusHuyDon()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal hủy hóa đơn -->
<!-- modal thông báo trạng thái HD -->
<div class="modal fade" id="lichsu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lịch sử thay đổi</h5>
        <br />
      </div>
      <div class="modal-body">
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal thông báo trạng thái HD -->
<div class="card overflow-hidden" style="width: 1152px">
  <div class="d-flex align-items-center">
    <h5 style="padding-left: 20px; padding-top: 20px" class="me-auto">
      Lịch sử thanh toán
    </h5>
    <button ng-show="hoaDonChiTiet.trangThai == 4 && fillMoney.tongTien > soTienKhachTra" class="btn btn-primary"
      style="margin-top: 20px; margin-right: 20px" data-bs-toggle="modal" data-bs-target="#thanhttoan">
      Thanh toán
    </button>
    <button ng-show="traHangis === true && tongTienHoanTra > soTienHoan" class="btn btn-primary"
      style="margin-top: 20px; margin-right: 20px" data-bs-toggle="modal" data-bs-target="#hoantra">
      Hoàn tiền
    </button>
    <!-- modal thanh toán -->
    <div class="modal fade" id="thanhttoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="height: 20px">
            <h6 style="font-size: 15px; font-weight: bold; padding-top: 20px">
              Xác nhận thanh toán
            </h6>
          </div>
          <hr />
          <div class="modal-body">
            <div class="modal-body-item">
              <div class="row">
                <div class="col-lg-8">
                  <h6 style="font-size: 15px; font-weight: bold">
                    Số tiền khách cần trả
                  </h6>
                </div>
                <div class="col-lg-4">
                  <h6 style="font-size: 15px; font-weight: bold; color: crimson">
                    {{fillMoney.tongTien| number}}₫
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Tiền khách đưa</span></span>
                  <input type="number" class="next-input" placeholder="Nhập tiền khách đưa"
                    ng-model="newTransaction.soTien" />
                </div>
                <div class="col-lg-12" style="margin-top: 15px">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Ghi chú</span></span>
                  <input type="text" class="next-input" placeholder="Nhập ghi chú" ng-model="newTransaction.ghiChu" />
                </div>
              </div>
              <div class="row" style="padding-top: 20px">
                <div class="col-lg-6">
                  <button style="margin-left: 80px" class="btn btn-primary"
                    ng-click="button1Clicked(hoaDonChiTiet.idNhanVien)">
                    <img src="/assets/images/payment-method.png" width="50px" alt="" />
                  </button>
                </div>
                <div class="col-lg-6">
                  <button style="margin-left: 50px" class="btn btn-primary"
                    ng-click="button2Clicked(hoaDonChiTiet.idNhanVien)">
                    <img src="/assets/images/debit-card.png" width="50px" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Hủy
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal thanh toán  -->
    <!-- modal hoàn trả -->
    <div class="modal fade" id="hoantra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="height: 20px">
            <h6 style="font-size: 15px; font-weight: bold; padding-top: 20px">
              Xác nhận hoàn trả
            </h6>
          </div>
          <hr />
          <div class="modal-body">
            <div class="modal-body-item">
              <div class="row">
                <div class="col-lg-8">
                  <h6 style="font-size: 15px; font-weight: bold">
                    Số tiền hoàn trả
                  </h6>
                </div>
                <div class="col-lg-4">
                  <h6 style="font-size: 15px; font-weight: bold; color: crimson">
                    {{tongTienHoanTra | number}}₫
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Tiền hoàn trả</span></span>
                  <input type="number" class="next-input" placeholder="Nhập tiền khách đưa"
                    ng-model="newTransactionTra.soTien" />
                </div>
                <div class="col-lg-12" style="margin-top: 15px">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Ghi chú</span></span>
                  <input type="text" class="next-input" placeholder="Nhập ghi chú"
                    ng-model="newTransactionTra.ghiChu" />
                </div>
              </div>
              <div class="row" style="padding-top: 20px">
                <div class="col-lg-6">
                  <button style="margin-left: 80px" class="btn btn-primary"
                    ng-click="button1ClickedTra(hoaDonChiTiet.idNhanVien)">
                    <img src="/assets/images/payment-method.png" width="50px" alt="" />
                  </button>
                </div>
                <div class="col-lg-6">
                  <button style="margin-left: 50px" class="btn btn-primary"
                    ng-click="button2ClickedTra(hoaDonChiTiet.idNhanVien)">
                    <img src="/assets/images/debit-card.png" width="50px" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Hủy
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal hoàn trả  -->
  </div>
  <!-- modal hoàn trả  -->
  <hr />
  <table class="table">
    <thead>
      <tr style="border: 1px solid #ccc; background-color: lightskyblue">
        <th scope="col">STT</th>
        <th scope="col">Mã giao dịnh</th>
        <th scope="col">Loại thanh toán</th>
        <th scope="col">Số tiền khách trả</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Hình thức thanh toán</th>
        <th scope="col">Ghi chú</th>
        <th scope="col">Người xác nhận</th>
      </tr>
    </thead>
    <tbody class="table">
      <tr ng-repeat="item in lichSu">
        <td>{{$index + 1}}</td>
        <td>{{item.ma}}</td>
        <td>{{item.tenLoai}}</td>
        <td>{{item.soTienTra |number}}đ</td>
        <td>{{item.ngayTao| date:'MM/dd/yyyy h:mm:ss a'}}</td>
        <td>{{item.phuongThucThanhToan == 1 ? 'Tiền mặt' : 'Chuyển khoản'}}</td>
        <td>{{item.ghiChu}}</td>
        <td>{{item.name}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg-9" ng-show="fillMoney.tongTien <= soTienKhachTra">
      <span style="
          color: #fc5e03;
          padding: 4px 8px;
          border-radius: 4px;
          display: inline-block;
          font-size: 15px;
          font-weight: 900;
          padding-left: 740px;
        ">Đã thanh toán:</span>
    </div>
    <div class="col-lg-3" ng-show="fillMoney.tongTien <= soTienKhachTra">
      <span style="
          color: #fc5e03;
          padding: 4px 8px;
          border-radius: 4px;
          display: inline-block;
          font-size: 15px;
          font-weight: 900;
          padding-left: 100px;
        ">{{fillMoney.tongTien | number }}₫</span>
    </div>
    <div class="col-lg-9" ng-show="traHangis === true &&  tongTienHoanTra <= soTienHoan">
      <span style="
          color: #fc5e03;
          padding: 4px 8px;
          border-radius: 4px;
          display: inline-block;
          font-size: 15px;
          font-weight: 900;
          padding-left: 740px;
        ">Đã hoàn trả:</span>
    </div>
    <div class="col-lg-3" ng-show="traHangis === true &&  tongTienHoanTra <= soTienHoan">
      <span style="
          color: #fc5e03;
          padding: 4px 8px;
          border-radius: 4px;
          display: inline-block;
          font-size: 15px;
          font-weight: 900;
          padding-left: 100px;
        ">{{soTienHoan | number }}₫</span>
    </div>
  </div>
</div>
<div class="card overflow-hidden" style="width: 1152px">
  <div class="box">
    <div class="d-flex align-items-center">
      <h5 style="padding-top: 20px; padding-left: 20px;" class="me-auto">
        Thông tin đơn hàng
      </h5>
      <div class="why">
        <button ng-show="hoaDonChiTiet.trangThai == 1 && hoaDonChiTiet.tenLoaiDon == 'ONLINE'" type="submit"
          class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#updateGiao"">
          <span style="vertical-align: middle">Cập nhập</span>
        </button>
      </div>
    </div>
    <hr />
    <div class="row" style="padding-left: 20px">
      <div class="col-lg-4">
        <h5>Mã hóa đơn: {{hoaDonChiTiet.ma}}</h5>
        <h5>
          Trạng thái: {{ hoaDonChiTiet.trangThai === 1 ? 'Chờ Xác nhận' :
          hoaDonChiTiet.trangThai === 2 ? 'Xác nhận' : hoaDonChiTiet.trangThai
          === 3 ? 'Chờ giao hàng' : hoaDonChiTiet.trangThai === 4 ? 'Giao hàng'
          : hoaDonChiTiet.trangThai === 5 ? 'Hoàn thành' :
          hoaDonChiTiet.trangThai === 6 ? 'Đã hủy' : hoaDonChiTiet.trangThai ===
          7 ? 'Trả hàng' : 'Unknown' }}
        </h5>
        <h5>Loại: {{hoaDonChiTiet.tenLoaiDon}}</h5>
      </div>
      <div class="col-lg-4">
        <h5>Tên khách hàng: {{hoaDonChiTiet.tenNguoiNhan}}</h5>
        <h5>Số người nhận: {{hoaDonChiTiet.sdtNguoiNhan}}</h5>
        <h5>Địa chỉ: {{hoaDonChiTiet.diaChi}}</h5>
      </div>
      <div class="col-lg-4">
        <h5>Tên người giao: {{hoaDonChiTiet.tenNguoiShip}}</h5>
        <h5>Số người giao: {{hoaDonChiTiet.sdtNguoiShip}}</h5>
        <h5>Email: {{hoaDonChiTiet.sdtNguoiShip}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="card overflow-hidden" style="width: 1152px">
  <div class="box">
    <table class="table">
      <tbody class="table" style="border: 1px solid #ccc">
        <thead>
        </thead>
        <tr ng-repeat="item in listSanPhamInOrder">
          <td style="padding-top: 80px">{{$index + 1}}</td>
          <td>
            <div style="position: relative">
              <img src="{{item.tenImage}}" alt="" width="150px" />
            </div>
          </td>
          <td style="padding-top: 80px">{{item.tenSanPham}}</td>
          <td style="padding-top: 80px" ng-show="hoaDonChiTiet.trangThai == 1">
            <div class="quantity">
              <input style="margin-left: 0px; width: 70px" type="number"
                class="next-input text-left min-width-100px position-relative" min="1" ng-value="item.soLuong"
                ng-model="soLuong" ng-change="updateOrder(item.idHoaDonChiTiet,soLuong)" />
            </div>
          </td>
          <td style="padding-top: 80px" ng-show="hoaDonChiTiet.trangThai != 1">
            <div class="quantity">{{item.soLuong}}</div>
          </td>
          <td style="padding-top: 80px">
            <div ng-show="item.donGiaSauGiam != item.giaBan">
              {{item.donGiaSauGiam | number}}₫
              <span style="color: crimson">
                <strike>{{item.giaBan | number}}₫</strike></span>
            </div>
            <div ng-show="item.donGiaSauGiam == item.giaBan">
              {{item.giaBan | number}}₫
            </div>
          </td>
          <td style="padding-top: 80px" ng-show="item.donGiaSauGiam != 0">
            {{(item.donGiaSauGiam) * item.soLuong|number}}đ
          </td>
          <td style="padding-top: 80px" ng-show="item.donGiaSauGiam == 0">
            {{item.giaBan * item.soLuong |number}}đ
          </td>
          <td style="padding-top: 70px" ng-show="hoaDonChiTiet.trangThai == 1">
            <button class="btn btn-primary" ng-click="deleteProduct($event, $index)">
              Xóa
            </button>
          </td>
          <td style="padding-top: 70px">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#oki"
              ng-click="selectProductTraHang(item.idHoaDonChiTiet)"
              ng-show="hoaDonChiTiet.trangThai === 5 && soTienKhachTra >= fillMoney.tongTien && item.trangThai != 7">
              <img src="/assets/images/exchange.png" alt="" srcset="" width="35px" />
            </button>
            <span ng-show="item.trangThai === 7" style="
                background-color: #cceeff;
                color: #fc5e03;
                padding: 4px 8px;
                border-radius: 4px;
                display: inline-block;
              ">Đã hoàn trả
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Model trả hàng -->
  <div class="modal fade" id="oki" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content custom-modal-content" style="width: 110%; margin-left: -15px">
        <div class="modal-header" style="height: 20px; margin-left: 350px">
          <h6 style="font-size: 15px; font-weight: bold; padding-top: 20px">
            Xác nhận trả hàng
          </h6>
        </div>
        <hr />
        <div class="modal-body">
          <table class="table">
            <tbody class="table">
              <tr>
                <td style="width: 150px">
                  <img src="{{fillProductTraHang.tenImage}}" alt="" width="250px" />
                </td>
                <td>
                  <h6 style="font-size: 15px; font-weight: bold; height: 10px">
                    {{fillProductTraHang.tenSanPham}}
                  </h6>
                  <h6 style="height: 10px; padding-top: 30px"
                    ng-show="fillProductTraHang.donGia ===  fillProductTraHang.donGiaSauGiam">
                    Đơn giá: {{fillProductTraHang.donGia}}₫
                  </h6>
                  <h6 style="height: 10px; padding-top: 30px"
                    ng-show="fillProductTraHang.donGia !=  fillProductTraHang.donGiaSauGiam">
                    Đơn giá: {{fillProductTraHang.donGiaSauGiam |number}}₫
                    <span style="color: crimson">
                      <strike>{{fillProductTraHang.donGia |number}}₫</strike></span>
                  </h6>
                  <h6 style="height: 10px">
                    Size: {{fillProductTraHang.size}}
                  </h6>
                  <h6 style="height: 10px">
                    Chất liệu: {{fillProductTraHang.tenChatLieu}}
                  </h6>
                  <h6 style="height: 10px">
                    Màu sắc: {{fillProductTraHang.tenMauSac}}
                  </h6>
                  <h6 style="height: 10px">x {{fillProductTraHang.soLuong}}</h6>
                </td>
                <td>
                  <h6 style="color: crimson; padding-top: 110px"
                    ng-show="fillProductTraHang.donGia ===  fillProductTraHang.donGiaSauGiam">
                    {{fillProductTraHang.donGia * fillProductTraHang.soLuong
                    |number}}₫
                  </h6>
                  <h6 style="color: crimson; padding-top: 110px"
                    ng-show="fillProductTraHang.donGia != fillProductTraHang.donGiaSauGiam">
                    {{fillProductTraHang.donGiaSauGiam *
                    fillProductTraHang.soLuong | number}}₫
                  </h6>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="header-title"><span style="color: red">*</span> <span>Số lượng trả</span></span>
          <div class="quantity">
            <input style="margin-left: 0px; width: 100px" type="number"
              class="next-input text-left min-width-100px position-relative" min="1"
              ng-model="newOrderDetail.soLuong" />
          </div>
          <span class="header-title"><span style="color: red">*</span> <span>Ghi chú</span></span>
          <textarea style="height: 80px" type="text" class="next-input" placeholder="Nhập ghi chú"
            ng-model="newOrderDetail.ghiChu"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
            ng-click="traHang(fillProductTraHang.id)">
            Trả hàng
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal trả hàng -->
  <div class="row">
    <div class="col-lg-3">
      <button ng-show="hoaDonChiTiet.trangThai == 1" class="btn btn-primary" style="width: 150px; margin-left: 25px"
        data-bs-toggle="modal" data-bs-target="#sanpham">
        Thêm sản phẩm
      </button>
      <div class="modal fade" id="sanpham" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content custom-modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Tìm kiếm sản phẩm</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-8">
                  <input ng-model="key" class="form-control" placeholder="Tìm sản phẩm" />
                </div>
                <div class="col-lg-4 d-flex justify-content-start">
                  <button ng-click="searchSanPham()" type="button" class="btn btn-primary">
                    Tìm Kiếm
                  </button>
                  <button type="button" ng-click="getListSanPhamTaiQuay()" class="btn btn-warning"
                    style="margin-left: 10px">
                    Làm mới
                  </button>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="form-group col-md-3">
                  <h6 class="text">Thương hiệu:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="brand" ng-change="filterBrand()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="th in listThuongHieu" value="{{th.tenThuongHieu}}">
                      {{th.tenThuongHieu}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <h6 class="text">Danh mục:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locCategory"
                    ng-change="filterCategory()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="dm in listDanhMuc" value="{{dm.tenDanhMuc}}">
                      {{dm.tenDanhMuc}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <h6 class="text">Xuất xứ:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locOrigin"
                    ng-change="filterOrigin()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="xx in listXuatXu" value="{{xx.tenXuatXu}}">
                      {{xx.tenXuatXu}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <h6 class="text">Kiểu đế:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locSole" ng-change="filterSole()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="kd in listKieuDe" value="{{kd.tenDe}}">
                      {{kd.tenDe}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <br />
                  <h6 class="text">Màu sắc:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locMauSac"
                    ng-change="filterColor()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="ms in listMauSac" value="{{ms.tenMauSac}}">
                      {{ms.tenMauSac}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <br />
                  <h6 class="text">Size:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locSize" ng-change="filterSize()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="s in listSize" value="{{s.size}}">
                      {{s.size}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <br />
                  <h6 class="text">Chất liệu:</h6>
                  <select class="form-control select2" id="simple-select2" ng-model="locMaterial"
                    ng-change="filterMaterial()">
                    <option value="">Tất cả</option>
                    <option ng-repeat="cl in listChatLieu" value="{{cl.tenChatLieu}}">
                      {{cl.tenChatLieu}}
                    </option>
                  </select>
                </div>
              </div>
              <br />
              <div class="box">
                <table class="table table-borderless">
                  <thead>
                    <tr class="text-center" style="background-color: lightskyblue">
                      <th scope="col">STT</th>
                      <th scope="col">Ảnh</th>
                      <th scope="col">Tên Sản Phẩm</th>
                      <th scope="col" style="width: 120px">Giá</th>
                      <th scope="col">Số Lượng</th>
                      <th scope="col">Thao Tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="border: 1px solid #ccc" class="text-center" ng-repeat="sptq in listSanPhamTaiQuay">
                      <td style="padding-top: 55px">
                        {{$index + 1 + (pageNumberSp * pageSizeSp)}}
                      </td>
                      <td>
                        <div class="d-flex justify-content-center">
                          <img src="{{sptq.imgage}}" alt="..." class="img-fluid"
                            style="max-width: 100px; max-height: 100px" />
                        </div>
                      </td>
                      <td style="padding-top: 25px">
                        <small class="mb-0 text-muted h5"><strong>{{sptq.tenSanPham}} </strong></small>
                        <br />
                        <span>Size:</span>
                        <span>{{sptq.size}}</span>
                        <br />
                        <span>Màu sắc:</span>
                        <span>{{sptq.mauSac}}</span>
                        <br />
                        <span>Chất liệu:</span>
                        <span>{{sptq.chatLieu}}</span>
                      </td>
                      <td style="padding-top: 55px">
                        <small class="mb-0 text-muted h6" ng-show="sptq.giaGiamGia != null && sptq.giaGiamGia != 0">
                          <strong>
                            <span class="text-danger">
                              {{sptq.giaBan - sptq.giaGiamGia | number}}đ
                            </span>
                            <strike class="text-danger">
                              {{ sptq.giaBan | number}}đ
                            </strike>
                          </strong>
                        </small>
                        <small class="mb-0 text-muted h6" ng-show="sptq.giaGiamGia == 0">
                          <strong>
                            <span class="text-danger">
                              {{ sptq.giaBan | number}}đ
                            </span>
                          </strong>
                        </small>
                      </td>
                      <td style="padding-top: 55px">
                        <div class="quantity">
                          <input ng-model="soLuongSanPham" min="1" max="{{sptq.soLuong}}" type="number"
                            class="next-input text-left min-width-100px position-relative quantity-decimal" />
                        </div>
                        <h6 style="margin-left: 0px; padding-top: 5px">
                          {{sptq.soLuong}} sản phẩm có sẵn
                        </h6>
                      </td>
                      <td style="padding-top: 55px">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                          ng-click="themSanPhamHoaDonChiTiet(sptq.idSanPhamChiTiet, soLuongSanPham)">
                          Thêm vào hóa đơn
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <nav aria-label="Page navigation example" style="margin-left: 480px">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" ng-click="previousPageSp()">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link">{{pageNumberSp + 1}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" ng-click="nextPageSp()">Next</a>
                </li>
              </ul>
            </nav>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <nav aria-label="Page navigation example" style="margin-left: 600px">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" ng-href="" ng-click="previousPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">{{ pageNumber + 1 }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-href="" ng-click="nextPage()"
              ng-disabled="pageNumber === totalNumberOfPages - 1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12" style="margin-left: 900px">
      <h6 style="font-size: 14px; font-weight: 600">
        Tiền hàng: {{tongTienHang | number}}₫
      </h6>
      <h6 style="font-size: 14px; font-weight: 600">
        Tiền ship: {{fillMoney.tienShip != null ? (fillMoney.tienShip | number)
        + '₫' : '0₫'}}
      </h6>
      <h6 style="font-size: 14px; font-weight: 600">
        Tiền giảm giá:{{fillMoney.tienGiamGia |number}}₫
      </h6>
      <h6 style="font-size: 14px; font-weight: 600">
        Tổng tiền: {{fillMoney.tongTien | number}}₫
      </h6>
    </div>
  </div>
</div>