<div class="card overflow-hidden" style="min-height: 120px">
  <div class="box">
    <div class="row" style="padding-top: 25px; padding-left: 60px">
      <div class="col-md-2">
        <input class="form-control" placeholder="Tìm nhân viên" ng-model="searchQuery" style="margin-top: 4px" />
      </div>
      <div class="col-md-4 d-flex justify-content-start" style="padding-top: 5px">
        <button class="btn btn-primary" style="height: 39px" ng-click="searchNhanVien()">
          <span style="vertical-align: middle">Tìm Kiếm</span>
        </button>
        <button class="btn btn-warning" style="height: 39px; margin-left: 10px" ng-click="clearSearch()">
          <span style="vertical-align: middle">Làm mới</span>
        </button>
      </div>
      <div class="col-md-3 d-flex justify-content-start" style="text-align: end">
        <label class="form-label" style="margin-top: 11px">Trạng thái :</label>
        <select style="color: green" class="custom-select" ng-model="selectedTrangThai" ng-change="onTrangThaiChange()">
          <option value="">Tất cả</option>
          <option value="1">Hoạt động</option>
          <option value="2">Nghỉ làm</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          style="text-decoration: none; height: 39px">
          <ion-icon name="add-outline" style="vertical-align: middle; margin-right: 5px"></ion-icon>
          <span style="vertical-align: middle">Tạo Nhân Viên</span>
        </button>
      </div>
      <!--tạo tài khoản-->

      <div class="modal-dialog modal-lg">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="max-width: 80%">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tạo Nhân Viên</h5>
                <br />
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <label>
                      <img ng-src="/images/account/{{account.photo}}" class="logo" alt="" />
                      <div class="image-container">
                        <img ng-src="/images/account/{{account.photo}}" class="logo" alt="" />
                      </div>
                    </label>
                  </div>
                  <div class="col-md-8">
                    <form name="frmNhanVien">
                      <div class="form-group">
                        <label for="fullName">Họ và tên</label>
                        <input type="text" class="form-control" ng-model="newNhanVien.fullName" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Ngày sinh</label>
                        <input required type="date" class="form-control" ng-model="newNhanVien.ngaySinh" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label for="soDienThoai">Số điện thoại</label>
                        <input type="text" class="form-control" ng-model="newNhanVien.soDienThoai" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label class="mr-2">Giới tính</label>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" ng-model="newNhanVien.gioiTinh"
                            value="true" checked />
                          <label class="form-check-label"> Nam </label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" ng-model="newNhanVien.gioiTinh"
                            value="false" />
                          <label class="form-check-label"> Nữ </label>
                        </div>
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Email</label>
                        <input required type="text" class="form-control" ng-model="newNhanVien.email" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Mã nhân viên</label>
                        <input required type="text" class="form-control" ng-model="newNhanVien.maTaiKhoan" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Tên tài khoản</label>
                        <input required type="text" class="form-control" ng-model="newNhanVien.username" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Mật khẩu</label>
                        <input required type="text" class="form-control" ng-model="newNhanVien.password" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label for="trangThai">Chức vụ</label>
                        <select required class="form-control" ng-model="newNhanVienRole.idLoaiTaiKhoan"
                          ng-options="role.id as role.tenVaiTro for role in listNhanVienRole">
                          <option value="">Chọn vai trò</option>
                        </select>
                      </div>
                      <br />
                      <div class="form-group">
                        <label class="mr-2">Trạng thái</label>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="status" ng-model="newNhanVien.trangThai"
                            value="1" checked />
                          <label class="form-check-label">
                            Hoạt động
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="status" ng-model="newNhanVien.trangThai"
                            value="2" />
                          <label class="form-check-label">
                            Nghỉ làm
                          </label>
                        </div>
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Photo</label>
                        <input type="file" accept="image/*"
                          onchange="angular.element(this).scope().imageChanged(this.files)" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" ng-click="createNhanVien()">Thêm</button>
              </div>
            </div>
          </div>
        </div>
        <!--Sửa tài khoản-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="max-width: 80%">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Sửa Nhân Viên</h5>
                <br />
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <label>
                      <div class="image-container">
                        <img ng-src="/images/account/{{selectedNhanVien.image}}" class="logo" alt="" />
                      </div>
                    </label>
                  </div>
                  <div class="col-md-8">
                    <form name="frmAccount">
                      <div class="form-group">
                        <label>Họ và tên</label>
                        <input required type="text" class="form-control" ng-model="selectedNhanVien.fullName" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Ngày sinh</label>
                        <input required type="date" class="form-control" ng-model="selectedNhanVien.ngaySinh" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Số điện thoại</label>
                        <input required type="text" class="form-control" ng-model="selectedNhanVien.soDienThoai" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label class="mr-2">Giới tính</label>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="gender"
                            ng-model="selectedNhanVien.gioiTinh" value="true" />
                          <label class="form-check-label"> Nam </label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="gender"
                            ng-model="selectedNhanVien.gioiTinh" value="false" />
                          <label class="form-check-label"> Nữ </label>
                        </div>
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Email</label>
                        <input required type="text" class="form-control" ng-model="selectedNhanVien.email" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Mã nhân viên</label>
                        <input required type="text" class="form-control" ng-model="selectedNhanVien.maTaiKhoan" />
                      </div>
                      <br />
                      <div class="form-group">
                        <label for="trangThai">Chức vụ</label>
                        <select required class="form-control" ng-model="newNhanVienRole.idLoaiTaiKhoan"
                          ng-options="role.id as role.tenVaiTro for role in listNhanVienRole">
                        </select>
                      </div>
                      <br />
                      <div class="form-group">
                        <label class="mr-2">Trạng thái</label>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="status"
                            ng-model="selectedNhanVien.trangThai" value="1" />
                          <label class="form-check-label"> Hoạt động </label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="radio" name="status"
                            ng-model="selectedNhanVien.trangThai" value="2" />
                          <label class="form-check-label"> Nghỉ làm </label>
                        </div>
                      </div>
                      <br />
                      <div class="form-group">
                        <label>Photo</label>
                        <input type="file" accept="image/*"
                          onchange="angular.element(this).scope().imageChanged(this.files)" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" ng-click="updateNhanVien(selectedNhanVien)">Chỉnh
                  Sửa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card overflow-hidden" style="margin-top: 25px">
  <div class="box">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Mã nhân viên</th>
          <th scope="col">Họ và tên</th>
          <th scope="col">Giới tính</th>
          <th scope="col">SĐT</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="nv in listNhanVien">
          <th>{{$index + 1}}</th>
          <td>
            <img src="{{nv.image}}" alt="Ảnh nhân viên" style="width: 35px; height: 35px; border-radius: 50%;" />
          </td>
          <td>{{nv.maTaiKhoan}}</td>
          <td>{{nv.fullName}}</td>
          <td>{{nv.gioiTinh == false ? "Nữ" : "Nam"}}</td>
          <td>{{nv.soDienThoai}}</td>
          <td>{{nv.loaiTaiKhoan}}</td>
          <td>
            <span style="
                      background-color: #cceeff;
                      color: #0077cc;
                      padding: 4px 8px;
                      border-radius: 4px;
                      display: inline-block;
                    ">{{nv.trangThai == 1 ? "Hoạt động": "Nghỉ làm"}}
            </span>
          </td>
          <td>
            <button type="button" data-bs-toggle="modal" ng-click="fetchNhanVienDetail(nv.id)"
              data-bs-target="#exampleModal1" class="btn btn-primary">
              Sửa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12">
    <nav aria-label="Page navigation example" style="margin-left: 400px">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" ng-href="" ng-click="previousPage()">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link">{{ pageNumber + 1 }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" ng-href="" ng-click="nextPage()"
            ng-disabled="pageNumber === totalNumberOfPages - 1">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>