<div class="row justify-content-center">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="col text-center">
          <h2 class="h3 mb-0 page-title">Thêm sản phẩm</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-6">
              <div class="form-outline">
                <span class="header-title"><span style="color: red">*</span>
                  <span>Mã sản phẩm</span></span>
                <input type="text" id="form1" class="form-control" placeholder="Tên sản phẩm"
                  ng-model="newProduct.maSanPham" />
                <span style="color: red">{{errorMaSanPham}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-outline">
                <span class="header-title"><span style="color: red">*</span>
                  <span>Tên sản phẩm</span></span>
                <input type="text" id="form1" class="form-control" placeholder="Tên sản phẩm"
                  ng-model="newProduct.productName" />
                <span style="color: red">{{errorProductName}}</span>
              </div>
            </div>
            <br>
            <div class="form-group col-md-6" style="padding-top: 10px;">
              <div class="form-outline">
                <span class="header-title"><span style="color: red">*</span>
                  <span>Giá bán</span></span>
                <input type="text" id="form1" class="form-control" placeholder="Giá sản phẩm"
                  ng-model="newProduct.price" />
                <span style="color: red">{{errorPrice}}</span>
              </div>
            </div>
            <div class="form-group col-md-6" style="padding-top: 10px;">
              <div class="form-outline">
                <span class="header-title"><span style="color: red">*</span>
                  <span>Bảo hành</span></span>
                <input type="number" id="form1" class="form-control" placeholder="Bảo hành"
                  ng-model="newProduct.baoHang" />
                <span style="color: red">{{errorBaoHanh}}</span>
              </div>
            </div>
            <div class="form-group col-md-12 mt-3">
              <div class="form-outline">
                <span class="header-title"><span style="color: red">*</span>
                  <span>Mô tả</span></span>
                <textarea id="form1" class="form-control" placeholder="Mô tả"
                  ng-model="newProduct.describe" /></textarea>
                <span style="color: red">{{errorDescribe}}</span>
              </div>
            </div>
            <div class="form-group col-md-6 mt-3">
              <div class="row">
                <div class="col-lg-10">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Thương hiệu</span></span>
                  <select class="form-control" style="width: 435px;" ng-model="newProduct.idBrand">
                    <option value="">Vui lòng chọn
                    </option>
                    <option ng-repeat="th in listThuongHieu" value="{{th.id}}">{{th.tenThuongHieu}}
                    </option>
                  </select>
                  <span style="color: red">{{errorThuognHieu}}</span>
                </div>
                <div class="col-lg-2" style="padding-left: 20px;padding-top: 20px;">
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded" type="button" data-toggle="modal" data-target="#brandModal">
                      <img width="25px" src="/assets/images/add.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-3">
              <div class="row">
                <div class="col-lg-10">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Danh mục</span></span>
                  <select class="form-control" style="width: 435px;" ng-model="newProduct.idCategory">
                    <option value="">Vui lòng chọn
                    </option>
                    <option ng-repeat="dm in listDanhMuc" value="{{dm.id}}">
                      {{dm.tenDanhMuc}}
                    </option>
                  </select>
                  <span style="color: red">{{errorDanhMuc}}</span>
                </div>
                <div class="col-lg-2" style="padding-left: 20px;padding-top: 20px;">
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded" type="button" data-toggle="modal"
                      data-target="#categoryModal">
                      <img width="25px" src="/assets/images/add.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-3">
              <div class="row">
                <div class="col-lg-10">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Kiểu đế</span></span>
                  <select class="form-control" style="width: 435px;" ng-model="newProduct.idKieuDe">
                    <option value="">Vui lòng chọn
                    </option>
                    <option ng-repeat="kd in listKieuDe" value="{{kd.id}}">
                      {{kd.tenDe}}
                    </option>
                  </select>
                  <span style="color: red">{{errorKieuDe}}</span>
                </div>
                <div class="col-lg-2" style="padding-left: 20px;padding-top: 20px;">
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded" type="button" data-toggle="modal" data-target="#soleModal">
                      <img width="25px" src="/assets/images/add.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-3">
              <div class="row">
                <div class="col-lg-10">
                  <span class="header-title"><span style="color: red">*</span>
                    <span>Xuất xứ</span></span>
                  <select class="form-control" style="width: 435px;" ng-model="newProduct.idXuatXu">
                    <option value="">Vui lòng chọn
                    </option>
                    <option ng-repeat="xx in listXuatXu" value="{{xx.id}}">
                      {{xx.tenXuatXu}}
                    </option>
                  </select>
                  <span style="color: red">{{errorXuatXu}}</span>
                </div>
                <div class="col-lg-2" style="padding-left: 20px;padding-top: 20px;">
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded" type="button" data-toggle="modal" data-target="#xuatXu">
                      <img width="25px" src="/assets/images/add.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="xuatXu" tabindex="-1" role="dialog" aria-labelledby="brandModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered size-modal" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                      Thêm xuất xứ
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="brandName">Tên xuất xứ:</label>
                      <input type="text" class="form-control" id="brandName" placeholder="Nhập tên xuất xứ"
                        ng-model="newXuatXu.tenXuatXu" />
                    </div>
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="status">Trạng thái:</label>
                      <select class="form-control" id="status" ng-model="newXuatXu.trangThai">
                        <option value="1">Hoạt động</option>
                        <option value="2">
                          Ngưng hoạt động
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Đóng
                    </button>
                    <button type="button" ng-click="createXuatXu()" class="btn btn-primary" data-dismiss="modal">
                      Thêm
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Brand Modal -->
            <div class="modal fade" id="brandModal" tabindex="-1" role="dialog" aria-labelledby="brandModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered size-modal" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                      Thêm thương hiệu
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="brandName">Tên thương hiệu:</label>
                      <input type="text" class="form-control" id="brandName" ng-model="newThuongHieu.tenThuongHieu"
                        placeholder="Nhập tên thương hiệu" />
                    </div>
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="status">Trạng thái:</label>
                      <select class="form-control" id="status" ng-model="newThuongHieu.trangThai">
                        <option value="1">Hoạt động</option>
                        <option value="2">
                          Ngưng hoạt động
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Đóng
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createThuongHieu()">
                      Thêm
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Category Modal -->
            <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered size-modal" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                      Thêm danh mục
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="brandName">Tên danh mục:</label>
                      <input type="text" class="form-control" id="brandName" placeholder="Nhập tên danh mục"
                        ng-model="newDanhMuc.tenDanhMuc" />
                    </div>
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="status">Trạng thái:</label>
                      <select class="form-control" id="status" ng-model="newDanhMuc.trangThai">
                        <option value="1">Hoạt động</option>
                        <option value="2">
                          Ngưng hoạt động
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Đóng
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createDanhMuc()">
                      Thêm
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Sole Modal -->
            <div class="modal fade" id="soleModal" tabindex="-1" role="dialog" aria-labelledby="soleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered size-modal" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                      Thêm kiểu đế
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="brandName">Tên kiểu đế:</label>
                      <input type="text" class="form-control" id="brandName" placeholder="Nhập tên kiểu đế"
                        ng-model="newKieuDe.tenDe" />
                    </div>
                    <div class="form-group">
                      <span class="text-danger">*</span>
                      <label for="status">Trạng thái:</label>
                      <select class="form-control" id="status" ng-model="newKieuDe.trangThai">
                        <option value="1">Hoạt động</option>
                        <option value="2">
                          Ngưng hoạt động
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Đóng
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createKieuDe()">
                      Thêm
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 text-right mt-3">
              <a href="" type="button" class="btn btn-primary" ng-click="createProduct()">
                Thêm
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>