<div class="card overflow-hidden" style="min-height: 120px">
  <div class="box">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden" style="
                  margin-top: 20px;
                  margin-left: 20px;
                  padding-left: 20px;
                  padding-right: 20px;
                  padding-top: 20px;
                  padding-bottom: 20px;
                  width: 1110px;
                ">
          <div class="row">
            <div class="col-lg-6" style="padding-top: 15px">
              <span class="header-title">Mã khuyến mại</span>
              <span class="header-title" style="padding-left: 320px">
                <input type="text" disabled class="next-input" placeholder="nhập mã khuyến mãi"
                  ng-value="giamgiachitiet.maGiamGia" />
              </span>
            </div>
            <div class="col-lg-6" style="padding-top: 15px">
              <span class="header-title">Tên khuyến mại </span>
              <input type="text" class="next-input" placeholder="Nhập tên khuyến mại"
                ng-model="giamgiachitiet.tenGiamGia" />
            </div>
            <div class="col-lg-5" style="padding-top: 15px">
              <span class="header-title">Mức Giảm</span>
              <input type="text" class="next-input" placeholder="0" ng-model="giamgiachitiet.mucGiam" />
            </div>
            <div class="col-lg-2" style="padding-top: 10px">
              <select class="form-select" id="selectOption" ng-value="giamgiachitiet.hinhThucGiam"
                ng-model="giamgiachitiet.hinhThucGiam" aria-label="Default select example">
                <option value="1" selected>đ</option>
                <option value="2" selected>%</option>
              </select>
            </div>
            <!-- Ngày Bắt Đầu -->
            <div class="col-lg-6" style="padding-top: 15px">
              <span class="header-title">Ngày Bắt Đầu</span>
              <input type="date" class="next-input" placeholder="Nhập ngày bắt đầu"
                ng-value="giamgiachitiet.ngayBatDau | date:'yyyy-MM-dd'" ng-model="giamgiachitiet.ngayBatDau" />
            </div>

            <!-- Ngày Kết Thúc -->
            <div class="col-lg-6" style="padding-top: 15px">
              <span class="header-title">Ngày Kết Thúc</span>
              <input type="date" class="next-input" placeholder="Nhập ngày kết thúc"
                ng-value="giamgiachitiet.ngayKetThuc | date:'yyyy-MM-dd'" ng-model="giamgiachitiet.ngayKetThuc" />
            </div>

            <br />

            <button type="button" class="btn btn-outline-primary m-1" ng-click="updateGiamGia(giamgiachitiet.id)">
              Sửa
            </button>
          </div>
        </div>
      </div>

      <div class="card overflow-hidden" style="
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                width: 1135px;
              ">
        <br />
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <input type="text" class="next-input" ng-model="tenSanPham" ng-change="searchProductKey()"
                placeholder="Nhập sản phẩm cần tìm" />
            </div>
            <div class="col-lg-4">
              <button class="btn btn-outline-primary" style="margin-left: 10px">
                Làm mới
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" style="padding: 20px">
              Danh Mục:
              <select style="color: green" class="custom-select" ng-model="DanhMuc" ng-change="searchProductDanhMuc()"
                ng-options="tt.id as tt.tenDanhMuc for tt in listDanhMuc">
                <option value="">Tất cả</option>
              </select>
            </div>

            <div class="col-md-3" style="padding: 20px">
              Thương hiệu:

              <select style="color: green" class="custom-select" ng-model="ThuongHieu"
                ng-change="searchProductThuongHieu()" ng-options="tt.id as tt.tenThuongHieu for tt in listThuongHieu">
                <option value="">Tất cả</option>
              </select>
            </div>
            <div class="col-md-3" style="padding: 20px">
              Kiểu Đế:
              <select style="color: green" class="custom-select" ng-model="KieuDe" ng-change="searchProductKieuDe()"
                ng-options="tt.id as tt.tenDe for tt in listKieuDe">
                <option value="">Tất cả</option>
              </select>
            </div>

            <div class="col-md-3" style="padding: 20px">
              Xuất xứ:
              <select style="color: green" class="custom-select" ng-model="XuatXu" ng-change="searchProductXuatXu()"
                ng-options="tt.id as tt.tenXuatXu for tt in listXuatXu">
                <option value="">Tất cả</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <table class="table">
          <thead>
            <tr style="background-color: lightskyblue">
              <th scope="col">
                <input type="checkbox" style="margin-right: 15px" ng-model="selectAllProducts"
                  ng-change="toggleAllProducts()" />
                {{$index + 1}}
              </th>
              <th scope="col">Ảnh sản phẩm</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Giá Sản Phẩm</th>
              <th scope="col">Số lượng Giảm giá</th>
              <th scope="col">Giá Bán Sau Khi Giảm</th>
            </tr>
          </thead>
          <tbody class="table">
            <tr ng-repeat="gg in listProduct">
              <td style="padding-top: 75px">
                <input type="checkbox" style="margin-right: 15px" ng-model="selectedProductIds[gg.id]"
                  ng-change="chonSanPham(gg.id)"
                  ng-checked="selectAllProducts || isIdEqual(giamgiachitiet.idSanPham, gg.id)" />

                {{$index + 1}}
              </td>
              <td>
                <img src="{{gg.image}}" alt="" width="150px" />
              </td>
              <td>{{gg.productName}}</td>
              <td>
                {{gg.giaBan | number}}₫
              </td>
              <td>
                {{gg.soLanGiam}}
              </td>
              <td>
                {{gg.giaBan - gg.giaGiam | number}}₫
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Table Paging" class="my-3 d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" ng-href="" ng-click="previousPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">{{ pageNumber + 1 }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-href="" ng-click="nextPage()"
              ng-disabled="pageNumber === totalNumberOfPages - 1">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>