<div class="card overflow-hidden" style="min-height: 120px">
  <div class="box">
    <div class="row" style="padding-top: 25px; padding-left: 60px">
      <!-- HTML Template -->
      <div class="col-md-2">
        <p style="height: 7px; margin-left: -40px; font-weight: bold">
          Nhập mã, tên voucher
        </p>
        <input class="form-control" placeholder="Tìm khuyến mãi" ng-model="key" ng-change="searchKey()"
          style="width: 220px; margin-left: -42px; font-weight: bold" />
      </div>

      <div class="col-md-3 d-flex justify-content-start" style="margin-top: 20px">
        <button class="btn btn-warning" style="height: 39px; margin-left: 10px">
          <span style="vertical-align: middle">Làm Mới</span>
        </button>
      </div>
      <div class="col-md-3 d-flex justify-content-start" style="padding-top: 20px">
        <br />
        <h6 class="text" style="padding-top: 10px">Trạng thái:</h6>
        <select style="width: 150px; height: 40px; margin-left: 10px" class="form-control select2" ng-model="trangThai"
          ng-change="searchStatus()" id="simple-select2">
          <option value="">Tất cả</option>
          <option value="1">Còn Hiệu Lực </option>
          <option value="2">Hết Hiệu Lực</option>
        </select>
      </div>
      <div class="col-md-3" style="margin-top: 20px; margin-left: 90px">
        <a href="#/voucher/create" class="btn btn-primary" style="text-decoration: none; height: 39px">
          <span style="vertical-align: middle" class="hide-menu">Thêm voucher</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="card overflow-hidden">
  <div class="box">
    <table class="table">
      <thead>
        <tr style="background-color: #42bcf5; font-weight: bold">
          <th scope="col">STT</th>
          <th scope="col">Mã voucher</th>
          <th scope="col">Tên voucher</th>
          <th scope="col">Đơn tối thiểu</th>
          <th scope="col">Giá giảm</th>
          <th scope="col">Số lượng</th>
          <th scope="col" style="width: 385px; padding-left: 165px">
            Thời gian
          </th>
          <th scope="col">Trạng Thai</th>
          <th scope="col">Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gg in listVoucher">
          <td>{{$index + 1}}</td>
          <td>{{gg.maVoucher}}</td>
          <td>{{gg.tenVoucher}}</td>
          <td>{{gg.giaTriToiThieuDonhang |number}}đ</td>
          <td>
            {{gg.giaTriGiam | number}}{{gg.hinhThucGiam == 1 ? '%' : 'đ'}}
          </td>
          <td>
            {{gg.soLuongDung == null ? 0 : soLuongDung }} / {{gg.soLuongMa}}
          </td>
          <td>
            {{gg.ngayBatDau | date:'dd/MM/yyyy HH:mm:ss a'}} - {{gg.ngayKetThuc
            | date:'dd/MM/yyyy HH:mm:ss a'}}
          </td>
          <td>{{gg.trangThai == 1 ? 'Còn hạn':'Hết hạn'}}</td>
          <td>
            <a href="#/voucher/update/{{gg.id}}" class="btn btn-primary">Sửa</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>