<!-- Các Đơn ngày tháng  -->
<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden" style="height: 300px">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-6">
                <h5 class="card-title mb-9 fw-semibold">Hóa Đơn</h5>
              </div>
              <div class="col-lg-6" style="padding-left: 80px">
                <button
                  type="button"
                  class="btn btn-outline-primary m-1"
                  ng-click="createHoaDon()"
                >
                  Tạo hóa đơn
                </button>
              </div>
            </div>
            <hr />
            <div class="box scroll-container table-container">
              <!-- Kiểm tra độ dài danh sách -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã Hóa Đơn</th>
                    <th scope="col">Nhân Viên</th>
                    <th scope="col">Trạng thái</th>
                  </tr>
                </thead>
                <tbody class="table">
                  <tr
                    ng-repeat="hd in listHoaDonTaiQuay"
                    ng-click="showHoaDonTheoId(hd.id)"
                  >
                    <td>{{$index + 1}}</td>
                    <td>{{hd.maHoaDon}}</td>
                    <td>{{hd.tenNhanVien}}</td>
                    <td>
                      {{hd.trangThai == 1 ? "Chờ Thanh Toán" : "Thành Công"}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden" style="height: 300px">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Thông Tin Khách Hàng</h5>
            <input
              class="form-control"
              placeholder="Tìm Khách Hàng"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
            />
            <!-- <h6 class="text-customs">Chưa Có Thông Tin Khách Hàng</h6> -->
            <br />
            <h6 ng-if="selectedKhachHang">
              Họ Và Tên: {{selectedKhachHang.ten}}
            </h6>
            <h6 ng-if="selectedKhachHang">
              Email: {{selectedKhachHang.email}}
            </h6>
            <h6 ng-if="selectedKhachHang">
              Số Điện Thoại: {{selectedKhachHang.sodienthoai}}
            </h6>
            <hr>
            <h6 ng-if="selectedKhachHang">Địa Chỉ:{{selectedKhachHang.diaChi}}</h6>
            <h6 ng-if="!selectedKhachHang" class="text-customs" style="padding-top: 65px;">
              Chưa Có Thông Tin Khách Hàng
            </h6>
            <div
              class="modal fade"
              id="exampleModal2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content custom-modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Tìm kiếm Khách Hàng</h5>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <input
                          ng-model="searchKeyword"
                          class="form-control"
                          placeholder="Tìm khách hàng"
                        />
                      </div>
                      <div class="col-lg-4 d-flex justify-content-start">
                        <button
                          ng-click="searchKhach()"
                          type="button"
                          class="btn btn-outline-primary m-1"
                        >
                          Tìm Kiếm
                        </button>
                        <button
                          type="button"
                          ng-click="showKhachHang()"
                          class="btn btn-outline-primary m-1"
                        >
                          Làm mới
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-primary m-1"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal3"
                        >
                          Thêm
                        </button>
                      </div>
                    </div>
                    <div class="card overflow-hidden ng-scope">
                      <div class="box">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Tên Khách Hàng</th>
                              <th scope="col">Email</th>
                              <th scope="col">Số Điện Thoại</th>
                              <th scope="col">Địa Chỉ</th>
                              <th scope="col">Thao Tác</th>
                            </tr>
                          </thead>
                          <tbody class="table" ng-repeat="kh in listKhachHang">
                            <tr>
                              <th scope="row">{{$index + 1}}</th>
                              <td>{{kh.ten}}</td>
                              <td>{{kh.email}}</td>
                              <td>{{kh.sodienthoai}}</td>
                              <td>{{kh.diaChi}}</td>
                              <td>
                                <button
                                  ng-click="viewKhachAndUpdateHoaDon(kh.id)"
                                  type="button"
                                  data-bs-dismiss="modal"
                                  class="btn btn-outline-primary m-1"
                                >
                                  Chọn
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--Form khách hàng  -->
            <!-- Thêm Khách Hàng -->
            <div
              class="modal fade"
              id="exampleModal3"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div
                  class="modal-content custom-modal-content"
                  style="
                    width: 620px;
                    margin: auto;
                    margin-left: 80px;
                    height: 500px;
                  "
                >
                  <div class="modal-header">
                    <h5 class="modal-title">Thêm Khách Hàng</h5>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="text">Họ Tên</h6>
                        <input
                          class="form-control"
                          placeholder="Nhập họ tên"
                          ng-model="newKhachHang.hoTen"
                        />
                      </div>
                      <div class="col-lg-6">
                        <h6 class="text">Số điên thoại</h6>
                        <input
                          ng-model="newKhachHang.soDienThoai"
                          class="form-control"
                          placeholder="Nhập số điện thoại"
                        />
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="text">Email</h6>
                        <input
                          class="form-control"
                          ng-model="newKhachHang.email"
                          placeholder="Nhập email"
                        />
                      </div>
                      <div class="col-lg-6">
                        <h6 class="text">Ngày Sinh</h6>
                        <input
                          type="date"
                          ng-model="newKhachHang.ngaySinh"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-lg-12">
                        <h6 class="text">Địa Chỉ</h6>
                        <input
                          class="form-control"
                          placeholder="Nhập địa chỉ"
                          ng-model="newKhachHang.diaChi"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <select
                          style="width: 100%"
                          class="form-select form-select-sm mb-3"
                          id="city"
                          aria-label=".form-select-sm"
                        >
                          <option value="" selected>Chọn tỉnh thành</option>
                        </select>
                      </div>
                      <div class="col-lg-4">
                        <select
                          style="width: 100%"
                          class="form-select form-select-sm mb-3"
                          id="district"
                          aria-label=".form-select-sm"
                        >
                          <option value="" selected>Chọn quận huyện</option>
                        </select>
                      </div>
                      <div class="col-lg-4">
                        <select
                          style="width: 100%"
                          class="form-select form-select-sm"
                          id="ward"
                          aria-label=".form-select-sm"
                        >
                          <option value="" selected>Chọn phường xã</option>
                        </select>
                      </div>
                    </div>
                    <br />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      ng-click="createKhahHang()"
                      data-bs-dismiss="modal"
                    >
                      Thêm
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Thêm Khách Hàng -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Thông Tin Sản Phẩm</h5>
            <input
              class="form-control"
              placeholder="Tìm Sản Phẩm"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <!-- <h6 class="text-customs">Chưa Có Thông Tin Sản Phẩm</h6> -->
            <br />
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Sản Phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Số tiền</th>
                  <th scope="col">Thao Tác</th>
                </tr>
              </thead>
              <tbody class="table" ng-repeat="spgh in listCart">
                <tr>
                  <td style="width: 250px">
                    <img src="" alt="" srcset="" style="width: 200px" />
                  </td>
                  <td style="padding-top: 80px">
                    <h5 style="font-size: 18px; font-weight: 600">
                      {{spgh.tensanpham}}
                    </h5>
                    <span style="font-size: 13px; font-weight: 600"
                      >{{spgh.giaban}}</span
                    >
                    <br />
                    <br />
                    <span style="font-size: 13px; font-weight: 600"
                      >{{spgh.size}}</span
                    >
                  </td>
                  <td style="padding-top: 100px">{{spgh.soLuong}}</td>
                  <td style="padding-top: 100px">
                    {{spgh.size * spgh.giaBan}}
                  </td>
                  <td style="padding-top: 80px">
                    <button type="button" class="btn btn-outline-danger m-1">
                      Xóa khỏi giỏ
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- modal sản phẩm -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content custom-modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Tìm kiếm sản phẩm</h5>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <input
                          ng-model="keyName"
                          class="form-control"
                          placeholder="Tìm sản phẩm"
                        />
                      </div>
                      <div class="col-lg-4 d-flex justify-content-start">
                        <button
                          ng-click="searchSanPham()"
                          type="button"
                          class="btn btn-outline-primary m-1"
                        >
                          Tìm Kiếm
                        </button>
                        <button
                          type="button"
                          ng-click="getListSanPhamTaiQuay()"
                          class="btn btn-outline-primary m-1"
                        >
                          Làm mới
                        </button>
                      </div>
                    </div>
                    <br />
                    <div class="card overflow-hidden ng-scope">
                      <div class="box">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Ảnh</th>
                              <th scope="col">Tên Sản Phẩm</th>
                              <th scope="col">Giá</th>
                              <th scope="col">Số Lượng</th>
                              <th scope="col">Kích Thước</th>
                              <th scope="col">Kiểu Đế</th>
                              <th scope="col">Màu Sắc</th>
                              <th scope="col">Thao Tác</th>
                            </tr>
                          </thead>
                          <tbody
                            class="table"
                            ng-repeat="sp in listSanPhamTaiQuay"
                          >
                            <tr>
                              <th scope="row">{{$index + 1}}</th>
                              <td>
                                <img
                                  src="{{sp.imgage}}"
                                  alt=""
                                  srcset=""
                                  width="150px"
                                />
                              </td>
                              <td style="padding-top: 80px">
                                {{sp.tenSanPham}}
                              </td>
                              <td style="padding-top: 80px">
                                {{sp.giaBan | number}} đ
                              </td>
                              <td style="padding-top: 80px">{{sp.soLuong}}</td>
                              <td style="padding-top: 80px">{{sp.size}}</td>
                              <td style="padding-top: 80px">{{sp.kieuDe}}</td>
                              <td style="padding-top: 80px">{{sp.mauSac}}</td>
                              <td style="padding-top: 60px">
                                <button
                                  type="button"
                                  class="btn btn-outline-primary m-1"
                                  ng-click="chonSanPham()"
                                >
                                  Chọn
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal sản phẩm -->
            <hr style="margin-top: 90px" />
            <h5 class="card-title mb-9 fw-semibold">Thông Tin Thanh Toán</h5>
            <div class="layout-card--section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-sm-6 col-12">
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div class="omni-layout-card--item-stack fill">
                          <span class="header-title">Số lượng sản phẩm</span>
                        </div>
                        <div
                          class="omni-layout-card--item-stack fill text-right"
                        >
                          <span class="header-title">0</span>
                        </div>
                      </div>
                    </div>
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div class="omni-layout-card--item-stack fill">
                          <span class="header-title">Tổng Tiền Hàng</span>
                        </div>
                        <div
                          class="omni-layout-card--item-stack fill text-right"
                        >
                          <span class="header-title">0 ₫</span>
                        </div>
                      </div>
                    </div>
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div
                          class="omni-layout-card--item-stack fill"
                          style="padding-top: 5px"
                        >
                          <span class="header-title">Tiền khách đưa</span>
                        </div>
                        <div
                          class="omni-layout-card--item-stack fill text-right"
                        >
                          <input
                            class="form-control"
                            placeholder="Nhập tiền khách đưa"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div class="omni-layout-card--item-stack fill">
                          <span class="header-title">Tiền thừa trả khách</span>
                        </div>
                        <div
                          class="omni-layout-card--item-stack fill text-right"
                        >
                          <span class="header-title">0 ₫</span>
                        </div>
                      </div>
                    </div>
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div class="omni-layout-card--item-stack fill">
                          <span class="header-title">Hình thức thanh toán</span>
                        </div>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          style="width: 300px; margin-left: 54px"
                        >
                          <option value="1" selected>Tiền mặt</option>
                          <option value="2">Chuyển khoản</option>
                          <option value="3">Quét QR</option>
                        </select>
                      </div>
                    </div>
                    <div class="omni-layout-card--section-section">
                      <div class="omni-layout-card--item-stack-cover">
                        <div class="omni-layout-card--item-stack fill">
                          <span class="header-title">Mô Tả</span>
                        </div>
                        <div
                          class="omni-layout-card--item-stack fill text-right"
                        >
                          <textarea
                            style="width: 300px; margin-left: 156px"
                            class="next-input"
                            id="exampleFormControlTextarea6"
                            rows="3"
                            placeholder="Nhập mô tả"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="btn btn-outline-primary"
                style="margin-left: 900px; margin-top: 25px; font-weight: bold"
              >
                Xác Nhận Thanh Toán
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
