<style>
  h5 {
    font-weight: bold;
    font-size: 15px;
  }
  td {
    font-weight: bold;
  }
  th {
    font-weight: bold;
  }
</style>
<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <aside class="left-sidebar">
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img
            src="/assets/images/z4754468708043_e3218b27549165452a995a7d4cbe6705_preview_rev_1.png"
            width="130"
            alt=""
          />
        </a>
        <div
          class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
          id="sidebarCollapse"
        >
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/dashboard" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <img src="" alt="" />
            <span class="hide-menu">Chức Năng</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/hoa-don" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/receipt.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Hóa Đơn</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link"
              href="#/order-counter"
              aria-expanded="false"
            >
              <span>
                <img
                  src="/assets/images/shopping-cart-plus.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Bán Tại Quầy</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#pageSubmenu"
              class="dropdown-toggle collapsed sidebar-link"
              data-bs-toggle="collapse"
              data-bs-target="#pageSubmenu"
            >
              <span>
                <img
                  src="/assets/images/user.png"
                  width="180"
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý tài khoản</span>
            </a>
            <ul class="list-unstyled collapse" id="pageSubmenu">
              <li class="sidebar-item">
                <a class="sidebar-link" href="#nhan-vien">Nhân viên</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#khach-hang">Khách hàng</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/khuyen-mai" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Khuyến Mại</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/voucher" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Voucher</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="body-wrapper">
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a
              class="nav-link sidebartoggler nav-icon-hover"
              id="headerCollapse"
              href="javascript:void(0)"
            >
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul
            class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
          >
            <li class="nav-item dropdown">
              <a
                class="nav-link nav-icon-hover"
                href="javascript:void(0)"
                id="drop2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/assets/images/profile/user-1.jpg"
                  alt=""
                  width="35"
                  height="35"
                  class="rounded-circle"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                aria-labelledby="drop2"
              >
                <div class="message-body">
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-mail fs-6"></i>
                    <p class="mb-0 fs-3">My Account</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-list-check fs-6"></i>
                    <p class="mb-0 fs-3">My Task</p>
                  </a>
                  <div ng-controller="loginController">
                    <div ng-if="!isLoggedIn">
                      <a
                        href="#/admin/login"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Login</a
                      >
                    </div>
                    <div ng-if="isLoggedIn">
                      <a
                        ng-click="logout()"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Logout</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div
        class="card overflow-hidden"
        style="width: 1152px; position: relative"
      >
        <h5 style="padding-left: 20px; padding-top: 20px">
          <div class="breadcrumb">
            <a
              style="width: 180px"
              ng-show="statusChoThanhToan === 1"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusChoThanhToan === 1}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Chờ xác nhận
              </h6>
            </a>
            <a
              style="width: 180px"
              ng-show="statusXacNhan == 2"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusXacNhan === 2}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Xác nhận
              </h6>
            </a>
            <a
              style="width: 190px"
              ng-show="statusChoGiaoHang == 3"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusChoGiaoHang === 3}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Chờ giao hàng
              </h6>
            </a>
            <a
              style="width: 180px"
              ng-show="statusGiaoHang == 4"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusGiaoHang === 4}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Giao hàng
              </h6>
            </a>
            <a
              style="width: 180px"
              ng-show="statusThanhCong == 5"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusThanhCong === 5}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Hoàn thành
              </h6>
            </a>
            <a
              style="width: 180px"
              ng-show="statusDaHuy == 6"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusDaHuy === 6}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Đã hủy
              </h6>
            </a>
            <a
              style="width: 180px"
              ng-show="statusDaHuy == 7"
              class="breadcrumb__step"
              ng-class="{'breadcrumb__step--active': statusDaHuy === 6}"
            >
              <h6 style="height: 30px; font-size: 17px; padding-top: 7px">
                Hoàn trả
              </h6>
            </a>
          </div>
        </h5>
        <div style="margin-top: 60px">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div
                  class="col-lg-2"
                  class="col-lg-2"
                  ng-show="status == 1 || status == 2|| status == 3 || status == 4"
                >
                  <button
                    type="submit"
                    class="btn btn-danger m-1"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    style="
                      text-decoration: none;
                      height: 39px;
                      position: absolute;
                      bottom: 0;
                    "
                  >
                    <span style="vertical-align: middle">Xác nhận</span>
                  </button>
                </div>
                <div
                  class="col-lg-2"
                  ng-show="status == 1 || status == 2|| status == 3"
                >
                  <button
                    type="submit"
                    class="btn btn-danger m-1"
                    data-bs-toggle="modal"
                    data-bs-target="#huydon"
                    style="
                      text-decoration: none;
                      height: 39px;
                      position: absolute;
                      bottom: 0;
                    "
                  >
                    <span style="vertical-align: middle">Hủy</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <button
                type="submit"
                class="btn btn-outline-danger m-1"
                data-bs-toggle="modal"
                data-bs-target="#lichsu"
                style="
                  text-decoration: none;
                  height: 39px;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                "
              >
                <span style="vertical-align: middle">Lịch sử</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal cập nhật trạng thái HD -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
              <div class="modal-body-item">
                <span class="header-title"
                  ><span style="color: red">*</span>
                  <span>Nhập ghi chú</span></span
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ghi chú"
                  ng-model="newStatusOrder.ghiChu"
                />
                <br />
                <span
                  ng-show="thongTinTienDonHang.tienShip != null"
                  class="header-title"
                  ><span style="color: red">*</span>
                  <span>Nhập tiền ship</span></span
                >
                <input
                  ng-show="status == 1 && hoaDonChiTiet.tenLoaiDon == 'ONLINE'"
                  type="text"
                  class="form-control"
                  placeholder="Tiền ship"
                />
              </div>
              <br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Hủy
              </button>
              <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-outline-danger m-1"
                ng-click="comfirmStatusOrder()"
              >
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal Lịch sử -->
      <!-- modal hủy hóa đơn -->
      <div
        class="modal fade"
        id="huydon"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
              <div class="modal-body-item">
                <span class="header-title"
                  ><span style="color: red">*</span>
                  <span>Nhập ghi chú hủy</span></span
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ghi chú"
                  ng-model="newStatusOrder.ghiChu"
                />
                <br />
              </div>
              <br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Hủy
              </button>
              <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-outline-danger m-1"
                ng-click="comfirmStatusOrder()"
              >
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal hủy hóa đơn -->
      <!-- modal thông báo trạng thái HD -->
      <div
        class="modal fade"
        id="lichsu"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Lịch sử thay đổi</h5>
              <br />
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr
                    style="
                      border: 1px solid #ccc;
                      background-color: lightskyblue;
                    "
                  >
                    <th>Trạng thái</th>
                    <th>Thời gian</th>
                    <th>Người xác nhận</th>
                    <th>Ghi chú</th>
                  </tr>
                </thead>
                <tbody class="table">
                  <tr ng-repeat="item in lichSuThayDoi">
                    <td>
                      {{item.trangThai == 1 ? "Chờ xác nhận" : item.trangThai ==
                      2 ? "Xác nhận" : item.trangThai == 3 ? "Chờ giao hàng" :
                      item.trangThai == 4 ? "Giao hàng" : item.trangThai == 5 ?
                      "Hoàn thành" : item.trangThai == 6 ? "Đã hủy" : "Trả
                      hàng"}}
                    </td>
                    <td>{{item.thoiGian | date:'MM/dd/yyyy'}}</td>
                    <td>{{item.tenNhanVien}}</td>
                    <td>{{item.ghiChu}}</td>
                  </tr>
                </tbody>
              </table>
              <br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Hủy
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal thông báo trạng thái HD -->
      <div class="card overflow-hidden" style="width: 1152px">
        <div class="box">
          <div class="d-flex align-items-center">
            <h5 style="padding-left: 20px; padding-top: 20px" class="me-auto">
              Lịch sử thanh toán
            </h5>
            <h5
              ng-show="(tongTienHang + thongTinTienDonHang.tienGiamGia + thongTinTienDonHang.tienShip) <= soTienKhachTra && thongTinTienDonHang.tienShip != null"
              style="padding-left: 700px; padding-top: 20px"
              class="me-auto"
            >
              Khách đã thanh toán tiền đơn hàng
            </h5>
            <h5
              ng-show="(tongTienHang + thongTinTienDonHang.tienGiamGia) <= soTienKhachTra && thongTinTienDonHang.tienShip == null"
              style="padding-left: 700px; padding-top: 20px"
              class="me-auto"
            >
              Khách đã thanh toán tiền đơn hàng
            </h5>
            <button
              ng-show="(tongTienHang + thongTinTienDonHang.tienGiamGia) > soTienKhachTra && thongTinTienDonHang.tienShip == null"
              class="btn btn-primary"
              style="margin-top: 20px; margin-right: 20px"
              data-bs-toggle="modal"
              data-bs-target="#thanhttoan"
            >
              Xác nhận
            </button>
            <button
              ng-show="(tongTienHang + thongTinTienDonHang.tienGiamGia + thongTinTienDonHang.tienShip) > soTienKhachTra && thongTinTienDonHang.tienShip != null"
              class="btn btn-primary"
              style="margin-top: 20px; margin-right: 20px"
              data-bs-toggle="modal"
              data-bs-target="#thanhttoan"
            >
              Xác nhận
            </button>
            <div
              class="modal fade"
              id="thanhttoan"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header" style="height: 20px">
                    <h6
                      style="
                        font-size: 15px;
                        font-weight: bold;
                        padding-top: 20px;
                      "
                    >
                      Xác nhận thanh toán
                    </h6>
                  </div>
                  <hr />
                  <div class="modal-body">
                    <div class="modal-body-item">
                      <div class="row">
                        <div class="col-lg-8">
                          <h6 style="font-size: 15px; font-weight: bold">
                            Số tiền khách cần trả
                          </h6>
                        </div>
                        <div class="col-lg-4">
                          <h6
                            ng-show="thongTinTienDonHang.tienShip != null"
                            style="
                              font-size: 15px;
                              font-weight: bold;
                              color: crimson;
                            "
                          >
                            {{tongTienHang + thongTinTienDonHang.tienGiamGia +
                            thongTinTienDonHang.tienShip | number}}₫
                          </h6>
                          <h6
                            ng-show="thongTinTienDonHang.tienShip == null"
                            style="
                              font-size: 15px;
                              font-weight: bold;
                              color: crimson;
                            "
                          >
                            {{tongTienHang + thongTinTienDonHang.tienGiamGia|
                            number}}₫
                          </h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <span class="header-title"
                            ><span style="color: red">*</span>
                            <span>Tiền khách đưa</span></span
                          >
                          <input
                            type="text"
                            class="next-input"
                            placeholder="Nhập tiền khách đưa"
                            ng-model="newTransaction.soTien"
                          />
                        </div>
                        <div class="col-lg-12" style="margin-top: 15px">
                          <span class="header-title"
                            ><span style="color: red">*</span>
                            <span>Ghi chú</span></span
                          >
                          <input
                            type="text"
                            class="next-input"
                            placeholder="Nhập ghi chú"
                            ng-model="newTransaction.ghiChu"
                          />
                        </div>
                      </div>
                      <div class="row" style="padding-top: 20px">
                        <div class="col-lg-6">
                          <button
                            style="margin-left: 80px"
                            class="btn btn-primary"
                            ng-click="button1Clicked(hoaDonChiTiet.idNhanVien)"
                          >
                            <img
                              src="/assets/images/payment-method.png"
                              width="50px"
                              alt=""
                            />
                          </button>
                        </div>
                        <div class="col-lg-6">
                          <button
                            style="margin-left: 50px"
                            class="btn btn-primary"
                            ng-click="button2Clicked(hoaDonChiTiet.idNhanVien)"
                          >
                            <img
                              src="/assets/images/debit-card.png"
                              width="50px"
                              alt=""
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Hủy
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col">Số tiền khách trả</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Hình thức thanh toán</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Người xác nhận</th>
              </tr>
            </thead>
            <tbody class="table">
              <tr ng-repeat="item in lichSu">
                <td>{{$index + 1}}</td>
                <td>{{item.ma}}</td>
                <td>{{item.soTienTra |number}}đ</td>
                <td>{{item.ngayTao| date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>
                  {{item.phuongThucThanhToan == 1 ? 'Tiền mặt' : 'Chuyển
                  khoản'}}
                </td>
                <td>{{item.ghiChu}}</td>
                <td>{{item.fullName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card overflow-hidden" style="width: 1152px">
        <div class="box">
          <div class="d-flex align-items-center">
            <h5 style="padding-left: 20px; padding-top: 10px" class="me-auto">
              Thông tin đơn hàng
            </h5>
          </div>
          <hr />
          <div class="row" style="padding-left: 20px">
            <div class="col-lg-6">
              <h5>
                Trạng thái: {{ hoaDonChiTiet.trangThai === 1 ? 'Chờ Xác nhận' :
                hoaDonChiTiet.trangThai === 2 ? 'Xác nhận' :
                hoaDonChiTiet.trangThai === 3 ? 'Chờ giao hàng' :
                hoaDonChiTiet.trangThai === 4 ? 'Giao hàng' :
                hoaDonChiTiet.trangThai === 5 ? 'Hoàn thành' :
                hoaDonChiTiet.trangThai === 6 ? 'Đã hủy' :
                hoaDonChiTiet.trangThai === 7 ? 'Trả hàng' : 'Unknown' }}
              </h5>
              <h5>Loại: {{hoaDonChiTiet.tenLoaiDon}}</h5>
              <h5>Địa chỉ: {{hoaDonChiTiet.diaChi}}</h5>
            </div>
            <div class="col-lg-6">
              <h5>Tên khách hàng: {{hoaDonChiTiet.tenNguoiNhan}}</h5>
              <h5>Số điện thoại: {{hoaDonChiTiet.sdtNguoiNhan}}</h5>
              <h5>Ghi chú: {{hoaDonChiTiet.ghiChu}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card overflow-hidden" style="width: 1152px">
        <div class="box">
          <table class="table">
            <tbody class="table" style="border: 1px solid #ccc">
              <thead>
                <tr
                  style="border: 1px solid #ccc; background-color: lightskyblue"
                >
                  <th>#</th>
                  <th>Image</th>
                  <th style="width: 400px">Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th style="width: 0px">Đơn giá</th>
                  <th>Tổng tiền</th>
                  <th ng-show="status == 5">Thoa tác</th>
                </tr>
              </thead>
              <tr ng-repeat="item in listSanPhamInOrder">
                <td style="padding-top: 80px">{{$index + 1}}</td>
                <td>
                  <div style="position: relative">
                    <img src="{{item.tenImage}}" alt="" width="150px" />
                  </div>
                </td>
                <td style="padding-top: 80px">{{item.tenSanPham}}</td>
                <td style="padding-top: 80px" ng-show="status == 1">
                  <div class="quantity">
                    <input
                      style="margin-left: 0px; width: 70px"
                      type="number"
                      class="next-input text-left min-width-100px position-relative"
                      min="1"
                      ng-value="item.soLuong"
                      ng-model="soLuong"
                      ng-change="updateOrder(item.idHoaDonChiTiet,soLuong)"
                    />
                  </div>
                </td>
                <td style="padding-top: 80px" ng-show="status != 1">
                  <div class="quantity">{{item.soLuong}}</div>
                </td>
                <td style="padding-top: 80px">
                  <div ng-show="item.donGiaSauGiam != 0">
                    {{item.donGiaSauGiam | number}}₫
                    <span style="color: crimson">
                      <strike>{{item.giaBan | number}}₫</strike></span
                    >
                  </div>
                  <div ng-show="item.donGiaSauGiam == 0">
                    {{item.giaBan | number}}₫
                  </div>
                </td>
                <td style="padding-top: 80px" ng-show="item.donGiaSauGiam != 0">
                  {{(item.donGiaSauGiam) * item.soLuong|number}}đ
                </td>
                <td style="padding-top: 80px" ng-show="item.donGiaSauGiam == 0">
                  {{item.giaBan * item.soLuong |number}}đ
                </td>
                <td style="padding-top: 70px" ng-show="status == 5">
                  <button
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#trahang"
                  >
                    <img
                      src="/assets/images/exchange.png"
                      alt=""
                      srcset=""
                      width="35px"
                    />
                  </button>
                  <!-- Model trả hàng -->
                  <div
                    class="modal fade"
                    id="trahang"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg">
                      <div
                        class="modal-content custom-modal-content"
                        style="width: 110%; margin-left: -15px"
                      >
                        <div
                          class="modal-header"
                          style="height: 20px; margin-left: 350px"
                        >
                          <h6
                            style="
                              font-size: 15px;
                              font-weight: bold;
                              padding-top: 20px;
                            "
                          >
                            Xác nhận trả hàng
                          </h6>
                        </div>
                        <hr />
                        <div class="modal-body">
                          <table class="table">
                            <tbody class="table">
                              <tr>
                                <td style="width: 150px">
                                  <img
                                    src="https://myshoes.vn/image/cache/catalog/2023/puma/pu01/Slipstream-Cord-Unisex-Sneakers_80-800x800.jpg"
                                    alt=""
                                    width="250px"
                                  />
                                </td>
                                <td>
                                  <h6
                                    style="
                                      font-size: 15px;
                                      font-weight: bold;
                                      height: 10px;
                                    "
                                  >
                                    GIÀY PUMA SLIPSTREAM CORD NAM - TRẮNG XÁM
                                  </h6>
                                  <h6 style="height: 10px; padding-top: 30px">
                                    Đơn giá: 1.990.000₫
                                  </h6>
                                  <h6 style="height: 10px">Size: 34</h6>
                                  <h6 style="height: 10px">Chất liệu: Cứng</h6>
                                  <h6 style="height: 10px">Màu sắc: Xanh</h6>
                                  <h6 style="height: 10px">x 4</h6>
                                </td>
                                <td>
                                  <h6
                                    style="color: crimson; padding-top: 110px"
                                  >
                                    7.960.000₫
                                  </h6>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <span class="header-title"
                            ><span style="color: red">*</span>
                            <span>Ghi chú</span></span
                          >
                          <textarea
                            style="height: 80px"
                            type="text"
                            class="next-input"
                            placeholder="Nhập ghi chú"
                          ></textarea>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                          >
                            Trả hàng
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- modal trả hàng -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <button
              ng-show="status == 1"
              class="btn btn-primary"
              style="width: 150px; margin-left: 25px"
              data-bs-toggle="modal"
              data-bs-target="#sanpham"
            >
              Thêm sản phẩm
            </button>
            <div
              class="modal fade"
              id="sanpham"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content custom-modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Tìm kiếm sản phẩm</h5>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <input
                          ng-model="key"
                          class="form-control"
                          placeholder="Tìm sản phẩm"
                        />
                      </div>
                      <div class="col-lg-4 d-flex justify-content-start">
                        <button
                          ng-click="searchSanPham()"
                          type="button"
                          class="btn btn-primary"
                        >
                          Tìm Kiếm
                        </button>
                        <button
                          type="button"
                          ng-click="getListSanPhamTaiQuay()"
                          class="btn btn-warning"
                          style="margin-left: 10px"
                        >
                          Làm mới
                        </button>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="form-group col-md-3">
                        <h6 class="text">Thương hiệu:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="brand"
                          ng-change="filterBrand()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="th in listThuongHieu"
                            value="{{th.tenThuongHieu}}"
                          >
                            {{th.tenThuongHieu}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <h6 class="text">Danh mục:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locCategory"
                          ng-change="filterCategory()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="dm in listDanhMuc"
                            value="{{dm.tenDanhMuc}}"
                          >
                            {{dm.tenDanhMuc}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <h6 class="text">Xuất xứ:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locOrigin"
                          ng-change="filterOrigin()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="xx in listXuatXu"
                            value="{{xx.tenXuatXu}}"
                          >
                            {{xx.tenXuatXu}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <h6 class="text">Kiểu đế:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locSole"
                          ng-change="filterSole()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="kd in listKieuDe"
                            value="{{kd.tenDe}}"
                          >
                            {{kd.tenDe}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <h6 class="text">Màu sắc:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locMauSac"
                          ng-change="filterColor()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="ms in listMauSac"
                            value="{{ms.tenMauSac}}"
                          >
                            {{ms.tenMauSac}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <h6 class="text">Size:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locSize"
                          ng-change="filterSize()"
                        >
                          <option value="">Tất cả</option>
                          <option ng-repeat="s in listSize" value="{{s.size}}">
                            {{s.size}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <h6 class="text">Chất liệu:</h6>
                        <select
                          class="form-control select2"
                          id="simple-select2"
                          ng-model="locMaterial"
                          ng-change="filterMaterial()"
                        >
                          <option value="">Tất cả</option>
                          <option
                            ng-repeat="cl in listChatLieu"
                            value="{{cl.tenChatLieu}}"
                          >
                            {{cl.tenChatLieu}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <br />
                    <div class="box">
                      <table class="table table-borderless">
                        <thead>
                          <tr
                            class="text-center"
                            style="background-color: lightskyblue"
                          >
                            <th scope="col">STT</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col" style="width: 120px">Giá</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Thao Tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            style="border: 1px solid #ccc"
                            class="text-center"
                            ng-repeat="sptq in listSanPhamTaiQuay"
                          >
                            <td style="padding-top: 55px">
                              {{$index + 1 + (pageNumberSp * pageSizeSp)}}
                            </td>
                            <td>
                              <div class="d-flex justify-content-center">
                                <img
                                  src="{{sptq.imgage}}"
                                  alt="..."
                                  class="img-fluid"
                                  style="max-width: 100px; max-height: 100px"
                                />
                              </div>
                            </td>
                            <td style="padding-top: 25px">
                              <small class="mb-0 text-muted h5"
                                ><strong>{{sptq.tenSanPham}} </strong></small
                              >
                              <br />
                              <span>Size:</span>
                              <span>{{sptq.size}}</span>
                              <br />
                              <span>Màu sắc:</span>
                              <span>{{sptq.mauSac}}</span>
                              <br />
                              <span>Chất liệu:</span>
                              <span>{{sptq.chatLieu}}</span>
                            </td>
                            <td style="padding-top: 55px">
                              <small
                                class="mb-0 text-muted h6"
                                ng-show="sptq.giaGiamGia != null && sptq.giaGiamGia != 0"
                              >
                                <strong>
                                  <span class="text-danger">
                                    {{sptq.giaBan - sptq.giaGiamGia | number}}đ
                                  </span>
                                  <strike class="text-danger">
                                    {{ sptq.giaBan | number}}đ
                                  </strike>
                                </strong>
                              </small>
                              <small
                                class="mb-0 text-muted h6"
                                ng-show="sptq.giaGiamGia == 0"
                              >
                                <strong>
                                  <span class="text-danger">
                                    {{ sptq.giaBan | number}}đ
                                  </span>
                                </strong>
                              </small>
                            </td>
                            <td style="padding-top: 55px">
                              <div class="quantity">
                                <input
                                  ng-model="soLuongSanPham"
                                  min="1"
                                  max="{{sptq.soLuong}}"
                                  type="number"
                                  class="next-input text-left min-width-100px position-relative quantity-decimal"
                                />
                              </div>
                              <h6 style="margin-left: 0px; padding-top: 5px">
                                {{sptq.soLuong}} sản phẩm có sẵn
                              </h6>
                            </td>
                            <td style="padding-top: 55px">
                              <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                ng-click="themSanPhamHoaDonChiTiet(sptq.idSanPhamChiTiet, soLuongSanPham)"
                              >
                                Thêm vào hóa đơn
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <nav
                    aria-label="Page navigation example"
                    style="margin-left: 480px"
                  >
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" ng-click="previousPageSp()"
                          >Previous</a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link">{{pageNumberSp + 1}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" ng-click="nextPageSp()">Next</a>
                      </li>
                    </ul>
                  </nav>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <nav
              aria-label="Page navigation example"
              style="margin-left: 600px"
            >
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" ng-href="" ng-click="previousPage()"
                    >Previous</a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link">{{ pageNumber + 1 }}</a>
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    ng-href=""
                    ng-click="nextPage()"
                    ng-disabled="pageNumber === totalNumberOfPages - 1"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-lg-12" style="margin-left: 900px">
            <h6 style="font-size: 14px; font-weight: 600">
              Tiền hàng: {{tongTienHang |number}}₫
            </h6>
            <h6
              style="font-size: 14px; font-weight: 600"
              ng-show="thongTinTienDonHang.tienShip != null"
            >
              Tiền ship: {{thongTinTienDonHang.tienShip |number}}₫
            </h6>
            <h6 style="font-size: 14px; font-weight: 600">
              Tiền giảm giá:{{thongTinTienDonHang.tienGiamGia |number}}₫
            </h6>
            <h6
              style="font-size: 14px; font-weight: 600"
              ng-show="thongTinTienDonHang.tienShip != null"
            >
              Tiền thừa: {{soTienKhachTra - (tongTienHang +
              thongTinTienDonHang.tienGiamGia + thongTinTienDonHang.tienShip) |
              number}}₫
            </h6>
            <h6
              style="font-size: 14px; font-weight: 600"
              ng-show="thongTinTienDonHang.tienShip == null"
            >
              Tiền thừa: {{soTienKhachTra - (tongTienHang +
              thongTinTienDonHang.tienGiamGia) | number}}₫
            </h6>
            <h6
              style="font-size: 14px; font-weight: 600"
              ng-show="thongTinTienDonHang.tienShip != null"
            >
              Tổng tiền: {{tongTienHang + thongTinTienDonHang.tienGiamGia +
              thongTinTienDonHang.tienShip | number}}₫
            </h6>
            <h6
              style="font-size: 14px; font-weight: 600"
              ng-show="thongTinTienDonHang.tienShip == null"
            >
              Tổng tiền: {{tongTienHang + thongTinTienDonHang.tienGiamGia |
              number}}₫
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
