<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <aside class="left-sidebar">
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img
            src="/assets/images/z4754468708043_e3218b27549165452a995a7d4cbe6705_preview_rev_1.png"
            width="130"
            alt=""
          />
        </a>
        <div
          class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
          id="sidebarCollapse"
        >
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/dashboard" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <img src="" alt="" />
            <span class="hide-menu">Chức Năng</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/hoa-don" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/receipt.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Hóa Đơn</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/ban-tai-quay" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/shopping-cart-plus.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Bán Tại Quầy</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#pageSubmenu"
              class="dropdown-toggle collapsed sidebar-link"
            >
              <span>
                <img
                  src="/assets/images/delivery-box.png"
                  width="180"
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Sản Phẩm</span>
            </a>
            <ul class="list-unstyled collapse" id="pageSubmenu">
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Sản Phẩm</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Đế Giày</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Xuất Xứ</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Danh Mục</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Chất Liệu</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Thương Hiệu</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="#pageSubmenu1"
              class="dropdown-toggle1 collapsed sidebar-link"
            >
              <span>
                <img
                  src="/assets/images/add-user.png"
                  width="180"
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Tài Khoản</span>
            </a>
            <ul class="list-unstyled collapse" id="pageSubmenu1">
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="#/admin/account/nhan-vien"
                  style="margin-left: 35px"
                  >Nhân Viên</a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="#/admin/account/khach-hang"
                  style="margin-left: 35px"
                  >Khách Hàng</a
                >
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/khuyen-mai" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Khuyến Mại</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/giam-gia" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Voucher</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="body-wrapper">
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a
              class="nav-link sidebartoggler nav-icon-hover"
              id="headerCollapse"
              href="javascript:void(0)"
            >
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul
            class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
          >
            <li class="nav-item dropdown">
              <a
                class="nav-link nav-icon-hover"
                href="javascript:void(0)"
                id="drop2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/assets/images/profile/user-1.jpg"
                  alt=""
                  width="35"
                  height="35"
                  class="rounded-circle"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                aria-labelledby="drop2"
              >
                <div class="message-body">
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-mail fs-6"></i>
                    <p class="mb-0 fs-3">My Account</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-list-check fs-6"></i>
                    <p class="mb-0 fs-3">My Task</p>
                  </a>
                  <div ng-controller="loginController">
                    <div ng-if="!isLoggedIn">
                      <a
                        href="pages/authentication-login.html"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Login</a
                      >
                    </div>
                    <div ng-if="isLoggedIn">
                      <a
                        ng-click="logout()"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Logout</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="card overflow-hidden" style="min-height: 120px">
        <div class="box">
          <div class="row">
            <div class="col-lg-12">
              <div
                class="card overflow-hidden"
                style="
                  margin-top: 20px;
                  margin-left: 20px;
                  padding-left: 20px;
                  padding-right: 20px;
                  padding-top: 20px;
                  padding-bottom: 20px;
                "
              >
                <div class="row">
                  <div class="col-lg-6">
                    <span class="header-title">Mã khuyến mại</span>
                    <span class="header-title" style="padding-left: 350px"
                      ><a href="">Tự động tạo</a></span
                    >
                    <input
                      disabled
                      type="text"
                      class="next-input"
                      placeholder=""
                    />
                  </div>
                  <div class="col-lg-6">
                    <span class="header-title">Tên khuyến mại</span>
                    <input
                      type="text"
                      class="next-input"
                      placeholder="Nhập tên khuyến mại"
                    />
                  </div>
                  <div class="col-lg-5" style="padding-top: 15px">
                    <span class="header-title">Mức Giảm</span>
                    <input type="text" class="next-input" placeholder="0" />
                  </div>
                  <div class="col-lg-2" style="padding-top: 10px">
                    <select
                      class="form-select"
                      id="selectOption"
                      aria-label="Default select example"
                    >
                      <option selected>đ</option>
                      <option>%</option>
                    </select>
                  </div>
                  <div
                    class="col-lg-5"
                    id="checkboxContainer"
                    style="display: none; padding-top: 15px"
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Giới Hạn Số Tiền Giảm</label
                      >
                      <input type="text" class="next-input" placeholder="0" />
                    </div>
                  </div>
                  <div class="col-lg-6" style="padding-top: 15px">
                    <span class="header-title">Ngày Bắt Đầu</span>
                    <input
                      type="date"
                      class="next-input"
                      placeholder="Nhập ngày bắt đầu"
                    />
                  </div>
                  <div class="col-lg-6" style="padding-top: 15px">
                    <span class="header-title">Ngày Kết Thúc</span>
                    <input
                      type="date"
                      class="next-input"
                      placeholder="Nhập ngày kết thúc"
                    />
                  </div>
                </div>
                <br />
                <button type="button" class="btn btn-outline-primary m-1">
                  Thêm
                </button>
              </div>
            </div>
          </div>
          <div
            class="card overflow-hidden"
            style="margin-left: 20px; margin-right: 20px"
          >
          <br>
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <input
                type="text"
                class="next-input"
                placeholder="Nhập sản phẩm cần tìm"
              />
              </div>
              <div class="col-lg-4">
                <button class="btn btn-outline-primary">Tìm kiếm</button>
                <button class="btn btn-outline-primary" style="margin-left: 10px;">Làm mới</button>
              </div>
            </div>
            <div class="row" style="padding: 20px">
              <div class="col-md-3">
                Danh mục :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
              <div class="col-md-3">
                Thương hiệu :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Tại quầy</option>
                  <option>Online</option>
                </select>
              </div>
              <div class="col-md-3">
                Chất liệu :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Tiền mặt</option>
                  <option>Chuyển khoản</option>
                  <option>Quét QR Code</option>
                </select>
              </div>
              <div class="col-md-3">
                Màu sắc :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
              <div class="col-md-3">
                Kiểu đế :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
              <div class="col-md-3">
                Giới tính :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
              <div class="col-md-3">
                Size :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
              <div class="col-md-3">
                Xuất xứ :
                <select style="color: green" class="custom-select">
                  <option>Tất cả</option>
                  <option>Chờ xác nhận</option>
                  <option>Vận chuyển</option>
                  <option>Đang giao</option>
                  <option>Hoàn thành</option>
                  <option>Đã Hủy</option>
                </select>
              </div>
            </div>
          </div>
            <br>
            <table class="table">
              <thead>
                <tr  style="background-color: lightskyblue">
                  <th scope="col">
                    <input type="checkbox" style="margin-right: 15px" />STT
                  </th>
                  <th scope="col">Ảnh sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Size</th>
                  <th scope="col">Kiểu để</th>
                  <th scope="col">Color</th>
                  <th scope="col">Chất liệu</th>
                  <th scope="col">Trạng Thái</th>
                </tr>
              </thead>
              <tbody class="table">
                <tr>
                  <td style="padding-top: 75px">
                    <input type="checkbox" style="margin-right: 15px" />1
                  </td>
                  <td>
                    <img
                      src="https://myshoes.vn/image/cache/catalog/2023/nike/nk10/giay-nike-revolution-7-den-trang-01-800x800.jpg"
                      alt=""
                      width="150px"
                    />
                  </td>
                  <td style="padding-top: 75px">
                    GIÀY NIKE REVOLUTION 7 NAM - ĐEN TRẮNG
                  </td>
                  <td style="padding-top: 75px">37</td>
                  <td style="padding-top: 75px">Đế cứng</td>
                  <td style="padding-top: 75px">Vàng</td>
                  <td style="padding-top: 75px">Vàng</td>
                  <td style="padding-top: 75px">ĐANG KINH DOANH</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
