<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <aside class="left-sidebar">
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img
            src="/assets/images/z4754468708043_e3218b27549165452a995a7d4cbe6705_preview_rev_1.png"
            width="130"
            alt=""
          />
        </a>
        <div
          class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
          id="sidebarCollapse"
        >
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/dashboard" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <img src="" alt="" />
            <span class="hide-menu">Chức Năng</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/hoa-don" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/receipt.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Hóa Đơn</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link"
              href="#/order-counter"
              aria-expanded="false"
            >
              <span>
                <img
                  src="/assets/images/shopping-cart-plus.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Bán Tại Quầy</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#pageSubmenu"
              class="dropdown-toggle collapsed sidebar-link"
            >
              <span>
                <img
                  src="/assets/images/delivery-box.png"
                  width="180"
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Sản Phẩm</span>
            </a>
            <ul class="list-unstyled collapse" id="pageSubmenu">
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Sản Phẩm</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Đế Giày</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Xuất Xứ</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Danh Mục</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Chất Liệu</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="#">Thương Hiệu</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="#pageSubmenu1"
              class="dropdown-toggle1 collapsed sidebar-link"
            >
              <span>
                <img
                  src="/assets/images/add-user.png"
                  width="180"
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Tài Khoản</span>
            </a>
            <ul class="list-unstyled collapse" id="pageSubmenu1">
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="#/admin/account/nhan-vien"
                  style="margin-left: 35px"
                  >Nhân Viên</a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="#/admin/account/khach-hang"
                  style="margin-left: 35px"
                  >Khách Hàng</a
                >
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/khuyen-mai" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Khuyến Mại</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#/giam-gia" aria-expanded="false">
              <span>
                <img
                  src="/assets/images/ticket.png"
                  width="180"
                  alt=""
                  style="width: 21px; height: 21px"
                />
              </span>
              <span class="hide-menu">Quản Lý Voucher</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="body-wrapper">
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a
              class="nav-link sidebartoggler nav-icon-hover"
              id="headerCollapse"
              href="javascript:void(0)"
            >
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul
            class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
          >
            <li class="nav-item dropdown">
              <a
                class="nav-link nav-icon-hover"
                href="javascript:void(0)"
                id="drop2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/assets/images/profile/user-1.jpg"
                  alt=""
                  width="35"
                  height="35"
                  class="rounded-circle"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                aria-labelledby="drop2"
              >
                <div class="message-body">
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-mail fs-6"></i>
                    <p class="mb-0 fs-3">My Account</p>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"
                  >
                    <i class="ti ti-list-check fs-6"></i>
                    <p class="mb-0 fs-3">My Task</p>
                  </a>
                  <div ng-controller="loginController">
                    <div ng-if="!isLoggedIn">
                      <a
                        href="pages/authentication-login.html"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Login</a
                      >
                    </div>
                    <div ng-if="isLoggedIn">
                      <a
                        ng-click="logout()"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Logout</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="card overflow-hidden" style="width: 1152px; height: 130px">
        <div class="box">
          <div class="row" style="padding-top: 30px; padding-left: 80px">
            <div class="col-md-7">
              <input
                class="form-control"
                placeholder="Tìm hóa đơn"
                style="width: 100%"
                ng-model="searchQuery"
              />
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-outline-primary"
                style="width: 100%"
                ng-click="searchHoaDon()"
              >
                Tìm Kiếm
              </button>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-outline-secondary"
                style="width: 100%"
                ng-click="clearSearch()"
              >
                Chỉnh sửa
              </button>
            </div>
          </div>
          <div class="row" style="padding: 20px">
            <div class="col-md-4">
              Loại Đơn :
              <select
                style="color: green"
                class="custom-select"
                ng-model="selectedLoaiDon"
                ng-change="filterHoaDon()"
              >
                <option value="">Tất cả</option>
                <option value="2">Tại quầy</option>
                <option value="1">Online</option>
              </select>
            </div>
            <div ng-hide="!isAdmin" class="col-md-4">
              Nhân Viên :
              <select
                style="color: green"
                class="custom-select"
                ng-model="selectedNguoiXacNhan"
                ng-change="filterHoaDonByNguoiXacNhan()"
              >
                <option value="">Tất cả</option>
                <option
                  ng-repeat="nguoiXacNhan in tenNguoiXacNhanOptions"
                  value="{{nguoiXacNhan}}"
                >
                  {{nguoiXacNhan}}
                </option>
              </select>
            </div>
            <div>
              <select
                style="color: green"
                class="custom-select"
                ng-model="selectedTenNhanVien"
                ng-change="filterHoaDonByTenNhanien()"
              >
                <option value="">Tất cả</option>
                <option
                  ng-repeat="tenNhanVien in tenNhanVienOptions"
                  value="{{tenNhanVien}}"
                >
                  {{tenNhanVien}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card overflow-hidden">
        <nav
          class="navbar navbar-expand-lg navbar-dark"
          style="margin-bottom: 10px"
        >
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="font-weight: 800">
              <li class="nav-item active">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Choxacnhan')"
                  style="color: darkgoldenrod"
                  >Chờ xác nhận</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Xacnhan')"
                  style="color: darkgoldenrod"
                  >Xác nhận</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Chogiaohang')"
                  style="color: darkgoldenrod"
                  >Chờ giao hàng</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Giaohang')"
                  style="color: darkgoldenrod"
                  >Giao hàng</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Hoanthanh')"
                  style="color: darkgoldenrod"
                  >Hoàn thành</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Dahuy')"
                  style="color: darkgoldenrod"
                  >Đã hủy</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  onclick="openCity('Trahang')"
                  style="color: darkgoldenrod"
                  >Trả hàng</a
                >
              </li>
            </ul>
          </div>
        </nav>
        <div class="status" id="Choxacnhan">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon1">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.tenNhanVien}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Xacnhan" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon2">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Chogiaohang" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon3">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Giaohang" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon4">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Hoanthanh" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon5">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Dahuy" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon6">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="status" id="Trahang" style="display: none">
          <table class="table">
            <thead>
              <tr
                style="border: 1px solid #ccc; background-color: lightskyblue"
              >
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">SĐT khách hàng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Người xác nhận</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao Tác</th>
              </tr>
            </thead>
            <tbody class="table" style="border: 1px solid #ccc">
              <tr ng-repeat="hd in listHoaDon7">
                <th>{{$index + 1}}</th>
                <td>{{hd.ma}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy h:mm:ss a'}}</td>
                <td>{{hd.soDienThoai}}</td>
                <td>{{ hd.thanhTien ? (hd.thanhTien | number) + 'đ' : '' }}</td>
                <td>{{hd.nguoiXacNhan}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>
                  {{hd.trangThai == 1 ? "Chờ xác nhận" : hd.trangThai == 2 ?
                  "Xác nhận" : hd.trangThai == 3 ? "Chờ giao hàng" :
                  hd.trangThai == 4 ? "Giao hàng" : hd.trangThai == 5 ? "Hoàn
                  thành" : hd.trangThai == 6 ? "Đã hủy" : "Trả hàng"}}
                </td>
                <td>
                  <a
                    href="#/chi-tiet-hoa-don/{{hd.id}}"
                    type="button"
                    class="btn btn-outline-primary m-1"
                  >
                    Detail
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
